<?php if ($this->styles === true) :  ?>
    <?= $this->render('layout/header/styles') ?>
<?php endif; ?>
<footer class="foo_home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 foo_line"><span>Resist The Puppet. Copyright &copy; <?= date('Y') ?>.</span></div>
            <div class="col-md-4 contacts">
                <?= $this->render('layout/concern/links') ?>
            </div>
            <div class="col-md-offset-1 col-md-3 foo_socials foo_line">
                <a href="#" class="socials fbook"></a>
                <a href="#" class="socials twit"></a>
                <a href="#" class="socials inst"></a>
                <a href="#" class="socials linkd"></a>
            </div>
        </div>
    </div>
</footer>