<?php if ($this->styles === true) :  ?>
    <?= $this->render('layout/header/styles') ?>
<?php endif; ?>

<?= $this->render('layout/concern/admin-panel') ?>
<div class="container">
    <div class="row">
        <div class="top_panel">
            <div class="col-md-2">
                <a target="_parent" href="<?= $this->url('letter') ?>">
                    <img src="<?= $this->basePath('img/main_logo.png') ?>" class="home_page">
                </a>
            </div>
            <div class="col-md-3 pull-right home_top">
                <?= $this->render('layout/menu/' . ($this->user === null ? 'guest' : 'user') . '.phtml') ?>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid top_pan">
    <div class="container">
        <div class="row">
            <div class="col-md-12 nav_panel">
                <div class="row">
                    <div class="col-md-7">
                        <a target="_parent" class="home" href="<?= $this->url('home') ?>"><span></span>HOME</a>
                        <a target="_parent" href="<?= $this->basePath('blog/contact') ?>" class="contact"><span></span>CONTACT</a>
                        <a target="_parent" href="<?= $this->basePath('blog/my-district') ?>" class="district"><span></span>MY DISTRICT</a>
                        <a target="_parent" href="<?= $this->basePath('blog') ?>"><span></span>BLOG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>