<a target="_parent" href="<?= $this->basePath('blog') ?>">Blog</a>
<a target="_parent" href="<?= $this->url('index', ['action' => 'about']) ?>">About</a>
<a target="_parent" href="<?= $this->url('index', ['action' => 'faq']) ?>">FAQ</a>
<a target="_parent" href="#">TOS</a>
<a target="_parent" href="#">Privacy Policy</a>
<a target="_parent" href="<?= $this->basePath('blog/contact') ?>">Contact</a>