<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form action="<?= $this->url('user', ['action' => 'login']) ?>" method="post" id="loginform" class="async">
            <h3>LOGIN</h3>
            <div class="form-group">
                <label for="email_field">Email</label>
                <input type="text" name="email" id="email_field" class="form-control">
            </div>
            <div class="form-group">
                <div><label for="password_field">Password</label></div>
                <input type="password" name="password" id="password_field" class="form-control">
            </div>
            <div class="check">
                <input type="checkbox" id="some_check">
                <label for="some_check">Remember me</label>

            </div>
            <div class="distr_button">
                <button>LOGIN</button>
            </div>
            <div class="">
                <a class="call-action" data-controller="user" data-action="registerModal" href="<?= $this->url('user', ['action' => 'register']) ?>">Not registered yet?</a>
            </div>
            <div class="center-block">
                <a href="<?= $this->url('user', ['action' => 'forgot-password']) ?>">Forgot password?</a>
            </div>
        </form>
    </div>
</div>