<div class="modal" tabindex="-1" role="dialog" id="service-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><?= $this->title ?></h4>
            </div>
            <div class="modal-body"><?= $this->modal ?></div>
        </div>
    </div>
</div>