<h4 class="media-heading"><?= $this->official->getName() ?></h4>
<?php if (null !== $this->official->getParty()) : ?>
    <div class="text-primary"><b><?= $this->official->getParty() ?></b>&nbsp;party</div>
<?php endif; ?>
<?php if (false === empty($this->official->getEmails())) : ?>
    <div><b>Emails</b>:</div>
    <?= implode(', ', $this->official->getEmails()) ?>
<?php endif; ?>
<div><b>Addresses</b>:</div>
<?php foreach ($this->official->getAddress() as $address) : ?>
    <div class="text-muted"><?= implode(', ', array_filter($address))?></div>
<?php endforeach; ?>
<?php if (false === empty($this->official->getPhones())) : ?>
    <div><b>Phones</b>:</div>
    <?= implode(', ', $this->official->getPhones()) ?>
<?php endif; ?>
<?php if (false === empty($this->official->getUrls())) : ?>
    <?php foreach ($this->official->getUrls() as $url) : ?>
        <a href="<?= $url ?>"><?= $url ?></a>
    <?php endforeach; ?>
<?php endif; ?>
<?php if (false === empty($this->official->getChannels())) : ?>
    <ul class="list-group">
        <?php foreach ($this->official->getChannels() as $channel) : ?>
            <li><b><?= $channel['type'] ?></b>:<?= $channel['id']?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>