<?php foreach ($this->officials as $official) : /** @var \Application\Model\Official $official */ ?>
    <?php
        /**
         * Restrict top-level legislators
         */
        if (true === in_array('country', $official->getOffice()->getLevels())) {
            continue;
        }
    ?>
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <?php if (null === ($official->getPhotoUrl())) {$official->setPhotoUrl($this->basePath('img/no-photo.jpg')); } ?>
                <img width="128px" class="media-object" src="<?= $official->getPhotoUrl() ?>" alt="<?= $official->getName() ?>">
            </a>
        </div>
        <div class="media-body">
            <?= $this->render('layout/concern/official', ['official' => $official]) ?>
        </div>
        <div class="text-right">
            <a class="btn btn-default as prepare-data" href="<?= $this->url(
                    'compose-letter',
                    [
                        'official' => $official->getId(),
                        'name'     => $official->getName()
                    ]
            ) ?>">Compose letter</a>
            <div class="loading-message hidden" style="float: right">
                Preparing <div class="loader"></div>
            </div>
        </div>
    </div>
<?php endforeach; ?>