<h4><?= $this->official->getName() ?></h4>
<?php if (null !== $this->official->getParty()) : ?>
    <div><b><?= $this->official->getParty() ?></b>&nbsp;party</div>
<?php endif; ?>
<?php if (false === empty($this->official->getEmails())) : ?>
    <?= implode(', ', $this->official->getEmails()) ?>
<?php endif; ?>
<?php foreach ($this->official->getAddress() as $address) : ?>
    <div><?= implode(', ', array_filter($address))?></div>
<?php endforeach; ?>