<form action="<?= $this->url('letter', ['action' => 'pay']) ?>" method="post" data-controller="letter" data-action="pay" class="async">
    <div class="row">
        <div class="col-md-4">
            <span>Price: </span>
            <h3>$<?= $this->price['total'] ?></h3>
            <b>(<?= $this->price['letter'] ?> per letter + <?= $this->price['additional'] ?> per pages)</b>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="text-muted">* You will be redirected to PayPal&nbsp;&reg;</div>
            <button class="btn btn-default">Pay for this letter</button>
        </div>
    </div>
    <input type="hidden" name="letter" value="<?= $this->letter->getId() ?>">
    <h4>This is PDF, which will be send to legislator through paper letter</h4>
    <iframe src="<?= $this->basePath($this->letter->getPdf()) ?>" width="100%" height="800px"></iframe>
</form>