<div class="row distr_content">
    <div class="col-md-offset-2 col-md-8">
        <form method="post" class="async" action="<?= $this->url('user', ['action' => 'register']) ?>">
        <h3>REGISTER</h3>
        <div class="form-group">
            <label for="name_field">Name</label>
            <input type="text" name="name" id="name_field" class="form-control">
        </div>
        <div class="form-group">
            <label for="email_field">Email</label>
            <input type="text" name="email" id="email_field" class="form-control">
        </div>
        <div class="form-group">
            <label for="password_field">Password</label>
            <input type="password" name="password" id="password_field" class="form-control">
        </div>
        <div class="form-group accept_field_container">
            <input type="checkbox" name="accept" id="accept_field" value="1"> Accept <a data-toggle="modal" data-target="#accept_modal" href="#">Terms of use</a>
        </div>
        <div class="distr_button"><button>REGISTER NOW</button></div>
        </form>
    </div>
</div>
<div class="modal fade" id="accept_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Terms of use</h4>
            </div>
            <div class="modal-body">
                <p><?= $this->render('layout/concern/terms') ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>