<div class="row">
    <div class="col-md-7">
        <h3>ENTER YOUR ADDRESS</h3>
        <form method="post" class="async" action="<?=  $this->url('user', ['action' => 'settings']) ?>">
            <div class="form-group">
                <label for="name_field">Full Name</label>
                <input
                        type="text"
                        name="name"
                        class="form-control"
                        value="<?= isset($this->user) ? $this->user->getName() : ''?>"
                >
            </div>
            <div class="form-group">
                <label for="address_field">Address</label>
                <input
                        type="text"
                        name="address"
                        class="form-control"
                        value="<?= isset($this->user) ? $this->user->getSettings()->getAddressLine() : ''?>"
                >
            </div>
            <div class="form-group">
                <label for="city_field">City</label>
                <input
                        type="text"
                        name="city"
                        class="form-control"
                        value="<?= isset($this->user) ? $this->user->getSettings()->getCity() : ''?>"
                >
            </div>
            <div class="form-group">
                <label for="state_field">State</label>
                <select name="state" id="" id="state_field" class="form-control">
                    <option value="">Select State</option>
                    <?php foreach ($this->states as $code => $state) : ?>
                        <option
                                value="<?= $code ?>"
                            <?php if ($this->user && ($this->user->getSettings()->getState() === $code
                                    || $this->user->getSettings()->getState() === $state)): ?>
                                selected
                            <?php endif; ?>
                        >
                            <?= $state ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-group">
                <label for="zip_field">Zip</label>
                <input
                        type="text"
                        name="zip"
                        class="form-control"
                        value="<?= isset($this->user) ? $this->user->getSettings()->getZip() : ''?>"
                >
            </div>
            <div class="form-group">
                <label for="value_field">Signature Image</label>
                <input id="selector-image-upload" type="file">
                <input id="signature_base64" name="signature_image" type="hidden" value="">
                <div class="text-center">
                    <b>OR</b>
                </div>
                <script type="text/javascript">
                    window.onload = function (event) {
                        var canvas = document.getElementById('sketchpad');
                        if (canvas.getContext) {
                            var ctx = canvas.getContext('2d');
                        }

                        function drawDot(ctx,x,y) {
                            r=0; g=0; b=0; a=255;
                            ctx.fillStyle = "rgba("+r+","+g+","+b+","+(a/255)+")";
                            ctx.beginPath();
                            ctx.arc(x, y, 2, 0, Math.PI*2, true);
                            ctx.closePath();
                            ctx.fill();
                        }

                        var mouseX,mouseY,mouseDown=0;

                        function sketchpad_mouseDown() {
                            mouseDown=1;
                            drawDot(ctx,mouseX,mouseY);
                        }

                        function sketchpad_mouseUp() {
                            mouseDown=0;
                        }

                        function sketchpad_mouseMove(e) {
                            getMousePos(e);

                            if (mouseDown==1) {
                                drawDot(ctx,mouseX,mouseY);
                            }
                        }

                        function getMousePos(e) {
                            if (!e) {
                                var e = event;
                            }

                            if (e.offsetX) {
                                mouseX = e.offsetX;
                                mouseY = e.offsetY;
                            }
                            else if (e.layerX) {
                                mouseX = e.layerX;
                                mouseY = e.layerY;
                            }
                        }

                        canvas.addEventListener('mousedown', sketchpad_mouseDown, false);
                        canvas.addEventListener('mousemove', sketchpad_mouseMove, false);
                        window.addEventListener('mouseup', sketchpad_mouseUp, false);
                    }

                </script>
                <div>
                    <canvas id="sketchpad" width="400" height="300"></canvas>
                    <button id="apply_sketch" class="btn btn-default">Apply sketch</button>
                </div>
                <div id="preview-signature">
                    <img width="200px" src="<?= '' !== $this->user->getSignatureImage()->getValue() ? $this->user->getSignatureImage()->getValue() : '' ?>" alt="">
                </div>
                <?php if ('' !== $this->user->getSignatureImage()->getValue()) : ?>
                    <a href="#" id="remove_signature_image">Remove</a>
                <?php endif; ?>
            </div>
            <div class="form-group">
                <label for="signature">Signature</label>
                <input
                        name="signature"
                        class="form-control"
                        id="signature"
                        type="text"
                        style="font-family: <?=$this->user->getSignature()->getFont()?>;
                                font-size: 25px;height: 50px"
                        value="<?= isset($this->user) ? $this->user->getSignature()->getValue() : ''?>"
                >
            </div>
            <div class="form-group">
                <label for="value_field">Fonts</label>
                <select class="form-control" id="font" name="font">
                    <option value="">Default</option>
                    <option value="font-signature" data-size="25" <?= ($this->user->getSignature()->getFont() == 'font-signature') ? 'selected' : '' ?>>Font 1</option>
                    <option value="blackjack" data-size="25"  <?= ($this->user->getSignature()->getFont() == 'blackjack') ? 'selected' : '' ?>>Font 2</option>
                </select>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="favourite-categories">Favourite categories</label>-->
<!--                <select multiple name="categories[]" class="form-control select2" id="favourite-categories"></select>-->
<!--            </div>-->
            <div class="form-group button-block text-right">
                <div class="distr_button"><button class="btn btn-default">GET NOW</button></div>
            </div>
        </form>
    </div>
</div>