<div class="container">
<div class="row">
    <div class="col-md-6" >
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><?= $this->user->getName(); ?></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="img" src="" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>Full Name:</td>
                                <td><?= $this->user->getName(); ?></td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td><?= $this->user->getSettings()->getAddressLine(); ?></td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td><?= $this->user->getSettings()->getCity(); ?></td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td><?= $this->user->getSettings()->getState(); ?></td>
                            </tr>
                            <tr>
                                <td>Zip:</td>
                                <td><?= $this->user->getSettings()->getZip(); ?></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/" class="btn btn-primary">Go to home</a>
                        <a href="<?= $this->url('user', ['action'=>'settings']); ?>" class="btn btn-primary">Edit Settings</a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
            </div>

        </div>
    </div>
</div>
</div>