<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT SIZE=5 STYLE="font-size: 20pt"><B>Terms
            of Use</B></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">These Terms of Use
    (the “Terms”) govern your use of the site
    <A HREF="http://www.resistthepuppet.com">http://www.resistthepuppet.com</A>
    (the “Site”).  The Terms constitute a binding agreement between
    you and Resist The Puppet LLC (“RTP”, “We”, “Us” or
    “Our”), which you accept upon your browsing, accessing, reviewing
    or otherwise using (collectively, “Use” or “Using”) the Site
    or any material or other information contained thereon (“Materials”).</P>
<OL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><A NAME="_GoBack"></A>
            If you are under the age of 18, you may not Use the Site.  If you
            are acting on behalf of a business, organization or other entity
            other than a natural person, or if you are acting on behalf of a
            natural person other than yourself, you may not Use the Site.  If
            you are a natural person over the age of 18, Using the Site or
            Materials on your own behalf, you are permitted to Use the Site and
            Materials personally, solely pursuant to these Terms.  We grant you
            a limited, revocable right to access the Site and Materials to the
            extent the Site and Materials are available for access to you.  We
            may terminate your right to access the Site and/or Materials in
            whole or in part, and whether or not such termination applies solely
            to you, groups including you or all current and former visitors to
            the Site, in Our sole discretion.
        </P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=2>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">As between you
            and Us, the Site and Materials are owned exclusively by Us, and you
            shall have no rights thereto except for the limited rights expressly
            provided in Section 1 hereto.   As between you and Us, the names,
            brands, logos and other trademarks included on the Site and/or
            Materials (including without limitation “Resist The Puppet” and
            the “Resist The Puppet” logo) are the trademarks of RTP.  The
            Materials are the copyrighted property of RTP.  Any derivative works
            or other modifications thereto (collectively, “Modifications”)
            and any comments, feedback or other information (collectively,
            “Feedback”) you send Us or otherwise make available to Us are
            likewise the copyrighted property of RTP, and upon creation of such
            Modifications or Feedback become part of the Materials.  To the
            extent you may at any point acquire any intellectual property right
            or other interest in any of the Materials (including without
            limitation any Modifications you create or any Feedback you make
            available to Us), you agree to assign and hereby do irrevocably
            assign to RTP all right, title and interest in and to such Materials
            without further consideration and without your retaining any rights
            thereto (except for the limited rights expressly provided in Section
            1 hereto).  The foregoing RTP intellectual property rights
            (including any transfer or assignment of intellectual property
            rights to RTP) shall continue and not be waived if RTP or its
            Representatives (as defined below) asks you or any other user of the
            Site or Materials for permission to use any such Modifications or
            Feedback that you or such other user created.  You shall not, and
            shall not attempt to, decompile, view the source code of, reverse
            engineer or otherwise attempt to determine the construction or
            components of the Site or the Materials at any time.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=3>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">We may modify
            these Terms at any time in Our sole discretion.  You accept such
            modifications by your Use of the Site after such modifications are
            made.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=4>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You shall not
            upload to the Site or otherwise transmit to RTP any information,
            data, content or other materials of any type:
        </P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL>
    <OL TYPE=a>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">for which you do
                not have the legal right to do so;
            </P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">for which you do
                not have the legal right to grant ownership in such information,
                data, content or other materials to RTP;</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">that contain any
                statements or information that is false, inaccurate, misleading or
                fraudulent;</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">that contain any
                obscene components or aspects;</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">that contain any
                viruses, Trojan horses, time bombs or similar software programs
                designed to negatively impact the Site or Materials in any way</P>
    </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=5>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You may not
            download any Materials (except to the limited extent permitted by
            the Limited Download Option (defined below)) or otherwise cause any
            portion of any of the Materials to be transmitted from the Site to
            any storage medium under the possession, custody or control of you
            or any third party (solely except to the extent that your Internet
            browser caches such Materials in the ordinary course of such
            browser’s operations).  You shall not frame the Site or Materials
            or otherwise enclose or embed any of Our trademarks or other
            proprietary or copyrighted Materials.  You may not engage in any use
            of data mining, bots or robots or similar data extraction, gathering
            or analytical tools, nor may you use any meta tags or other hidden
            text using any trademark or copyrighted material of RTP.  You may
            not take any action, or attempt to take any action, with the intent
            or effect of negatively impacting the Use of the Site or Materials
            by any other users or other third parties.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=6>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">The Site and
            Materials are provided “as is” without any representation or
            warranty whatsoever.  For the avoidance of doubt, RTP on behalf of
            itself and any and all members, managers, officers, directors,
            employees, affiliates or other representatives (collectively,
            “Representatives”) hereby disclaims all warranties, express or
            implied, including without limitation any warranty of
            merchantability, fitness for particular purposes and
            non-infringement. To the extent you upload or otherwise provide to
            RTP, via the Site or otherwise, any information – including
            without limitation your name, address, email address and/or other
            contact information, and any password or security phrase you may
            create – you acknowledge and agree that RTP cannot guarantee the
            security of such information and that you provide such information
            at your sole risk.  Neither RTP nor its Representatives represent or
            warrant (nor otherwise guarantee or claim) that the Materials are
            true or otherwise free of any false, defamatory, misleading,
            outdated or otherwise inaccurate statements, whether facts or
            opinions.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=7>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Neither RTP nor
            any of its Representatives shall have any liability to you under any
            cause of action, whether arising under contract, tort or otherwise
            and whether under law, equity or otherwise.  To the extent the
            foregoing disclaimer of liability is found unenforceable by any
            court of competent jurisdiction, any liability by RTP and its
            Representatives for any cause of action shall be limited to the
            lesser of one hundred United States Dollars ($100.00) and the amount
            of profit to RTP that is attributed the your  Use of the Site and
            Materials.  Notwithstanding the foregoing, in no event shall RTP or
            its Representatives be liable for any consequential, special,
            punitive or other type of indirect damages.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=8>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You shall
            indemnify and hold harmless RTP and its Representatives for all
            claims, damages or other losses (collectively, “Losses”) arising
            in any way out of your Use of the Site or Materials.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=9>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">If the Site
            permits you to create a Site account, you acknowledge that such
            account does not entitle you to any right of continued Use of the
            Site or Materials for any period of time, and you further
            acknowledge, with respect to creating a password, that you will: (a)
            select a password at your sole risk, (b) accept all risks associated
            with creating such a password (including without limitation the
            risks associated with creating such a password that may be similar
            or identical to passwords you use at other websites) and (c) not
            share your password with any other individual.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=10>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">The following
            terms additionally apply with respect to any functionality of the
            Site that may facilitate in any way your contacting any individual
            (including without limitation any of your government
            representatives):</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL>
    <OL TYPE=a>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You represent,
                warrant and covenant that any address you submit to the Site for
                the purpose of the Site identifying governmental representatives
                that purportedly represent you is your current, legal, permanent
                address.  For the avoidance of doubt, to the extent you are
                currently legally registered to vote in the United States, such
                address must correspond to the address associated with your voter
                registration, and to the extent you are not currently legally
                registered to vote in the United States, such address must
                correspond to the address that would be associated with your voter
                registration if you were registered to vote in the United States.</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You represent,
                warrant and covenant that you will not in any way use the Site or
                any Materials in furtherance of any untrue statement, including
                without limitation claiming to be a constituent of a governmental
                representative when you are not in fact such a constituent.
            </P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Your limited and
                revocable right to access the Site and Materials specified in
                Section 1 shall, with respect to any functionality of the Site that
                may facilitate in any way your creating, drafting, revising,
                writing or sending a letter to a governmental representative,
                whether via mail, fax or otherwise (a “Letter”), consist of a
                limited and revocable right to (a) use the Site to facilitate
                mailing such Letter to such governmental representative, (b) use
                the Site to facilitate faxing such Letter to such governmental
                representative or (c) use the Site to download such Letter with the
                good faith intent to transmit such Letter to such governmental
                representative within three (3) days following such download (the
                “Limited Download Option”).  In no event may you at any time
                modify the “to” address on any Letter so as to cause the Letter
                to be transmitted to anyone other than a governmental
                representative identified by the Site as representing you in
                government.</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You represent,
                warrant and covenant that you have read any Letter you Use in any
                way, and that you accept full responsibility for the content of
                such Letter (including without limitation the body of such letter,
                the return address of such letter and the “to” address of such
                Letter), at least to the same extent that you would have
                responsibility for such content had you written such Letter
                yourself without Using the Site or Materials in any way.</P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You hereby
                acknowledge that any payment you submit with respect to your Use of
                the Site is not processed by the Site in any way, but rather
                through a third party payment processor such as PayPal, and thus to
                the extent you may have any claim arising out of such payment, you
                waive any and all claims against RTP and its Representatives.
            </P>
        <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You hereby
                expressly grant RTP, its Representatives and its or their vendors
                to sign your name to any Letter that you submit through the Site to
                the extent that (a) you do not submit a signature with your Letter
                or (b) any signature that you submit is, in Our or Our vendors’
                opinions, illegible or not discernable when printed.
            </P>
    </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=11>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">The Site and/or
            Materials may contain links to third party sites.  Such links are
            provided for reference only.  Neither RTP nor its Representatives
            endorse the content available at such links or, except to the extent
            expressly stated to the contrary, are affiliated with such content.
            To the extent you Use such links to access any third party sites, We
            encourage you to review such content (including without limitation
            any applicable terms of use thereon) carefully.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=12>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">You consent to
            Our contacting you via any contact information you submit on the
            Site for any purposes related to the Site in any way, including
            without limitation notifying you of new Materials or notifying you
            of potential political actions to be taken, except to the extent
            that you expressly opt out of such communications, in which case We
            will communicate you solely to the extent permitted by applicable
            law.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=13>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Any dispute
            regarding these Terms or the Site or Materials (or your Use thereof)
            shall be governed by the laws of the State of Delaware, without
            reference to its laws regarding choice of law.  In the event of any
            dispute, you permanently and irrevocably waive your right to a trial
            by jury.</P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.75in; margin-bottom: 0.11in"><BR><BR>
</P>