/*
Theme Name: ScemaChild
Template: mts_schema

Не обязательные параметры:
Theme URI: http://site.ru
Description: Дочерняя тема для темы schema
Author: AlexDen

Version: 1.0
*/


@import url("../mts_schema/style.css");

/* My-styles */
.foo{ color:red; }




.logo-wrap {
margin-top: 25px;
margin-right: 30px;
margin-bottom: 30px;
}

#header {

backgorund-color: #fff;
}


main-header.logo_in_nav_header {
backgorund-color: #fff;
}

.CustomHeaderTitle {
margin-right: 30px;
}

input, textarea, select {
width: 70%;

}


	
.districtButton{
		background: #ECECEC;
		border-radius: 15px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: regular;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 145px;
		margin:0px auto;
		margin-top:10px;
		
	}
	.districtButton i{
		float: right;
		margin-top: 2px;
	}
	.districtButton:hover{
		color: #fff;
		background: #4682B4;
		
	}
	.districtButton:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
	}

#district_result {
	text-align: center;
	background-color: #d9edf7;
    	border-color: #bcdff1;
    	color: #31708f;
	padding: .75rem 1.25rem;
    	border: 1px solid transparent;
    	border-radius: .25rem;
	}


#district_error {
	background-color: #f2dede;
    	border-color: #ebcccc;
   	color: #a94442;
	text-align: center;
	padding: .75rem 1.25rem;
    	margin-bottom: 1rem;
    	border: 1px solid transparent;
    	border-radius: .25rem;
}

#footer {
   bottom: 0px;
}



#site-footer {
background-color: #f5f5f5;
position: fixed !important;
height:70px !important;
width: 100%; 

bottom: 0px;
}

.copyrights {
    background-color: #f5f5f5 !important;
   height:20px;
	
	
}



.socSoc {
float: right;

}

.kek {
float: right;
margin-right: 10%;
margin-top: 20px;
 word-spacing: 1.2em; 
}

#header {
background-color: #244572;
}
.login { 
width: 200px;
    height: 55px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
 
    padding: 0 10px;
    cursor: pointer;
    display: block !important;
    background: #244572;
    text-align: center;
   
}

.registration {
    width: 200px;
    height: 55px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  
    padding: 0 10px;
    cursor: pointer;
    display: block !important;
    background: #244572;
    text-align: center;
   
}

.login:hover {
background-color: #d42033;
}

.registration:hover {
background-color: #d42033;
}

.footMen {
margin-left:130px;
word-spacing: 1.2em;
}


