<?php if ($this->user && $this->user->getRole() === \Application\Model\User::ROLE_ADMINISTRATOR) : ?>
    <div class="well">
        <div class="container">
            <a class="btn btn-outline btn-default" href="<?= $this->url('admin-dashboard') ?>">
                <i class="fa fa-dashboard"></i>
                Dashboard
            </a>
        </div>
    </div>
<?php endif; ?>