<?php if ($this->paginator->count() > 1) : ?>
    <div class="row">
        <div class="col-md-3">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <?php if ($this->paginator->getCurrentPageNumber() > 1) : ?>
                        <li>
                            <a
                                    href="<?= $this->url($this->route()->getRoute(), $this->route()->getParams(), ['query' => $this->query()->merge(['page' => $this->paginator->getCurrentPageNumber() - 1])]) ?>"
                                    aria-label="Previous"
                                    data-page="<?= $this->paginator->getCurrentPageNumber() - 1 ?>"
                                    class="paginator-a"
                            >
                                &laquo;
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php

                    $pages = [];

                    if ($this->paginator->count() > 10) {
                        $pages += range(max(1, $this->paginator->getCurrentPageNumber() - 2), (min($this->paginator->getCurrentPageNumber() + 2, $this->paginator->count())));
                    } else {
                        $pages = range(1, $this->paginator->count());
                    }

                    ?>

                    <?php foreach ($pages as $page) : ?>
                        <li class="<?php if ($page === $this->paginator->getCurrentPageNumber()) echo 'active' ?>">
                            <a
                                    data-page="<?= $page ?>"
                                    class="paginator-a"
                                    href="<?= $this->url($this->route()->getRoute(), $this->route()->getParams(), ['query' => $this->query()->merge(['page' => $page])]) ?>"
                            >
                                <?= $page ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                    <?php if ($this->paginator->getCurrentPageNumber() < $this->paginator->count()) : ?>
                        <li>
                            <a
                                    href="<?= $this->url($this->route()->getRoute(), $this->route()->getParams(), ['query' => $this->query()->merge(['page' => $this->paginator->getCurrentPageNumber() + 1])]) ?>"
                                    aria-label="Next"
                                    data-page="<?= $this->paginator->getCurrentPageNumber() + 1 ?>"
                                    class="paginator-a"
                            >
                                &raquo;
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">
            <form action="<?= $this->url($this->route()->getRoute(), $this->route()->getParams()) ?>" class="pagination">
                <div class="input-group">
                    <span class="input-group-addon">Page</span>
                    <input type="number" class="form-control" id="go_to_page" name="page"
                           value="<?= $this->paginator->getCurrentPageNumber() ?>" placeholder="Go to page">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
<?php endif; ?>
