<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <?= $this->render('layout/header/scripts') ?>
    <?= $this->render('header/styles') ?>
    <title>Admin Area - RESIST THE PUPPET</title>
    <script>
        jQuery(document).ready(function () {
            jQuery(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        });
    </script>
</head>
<body class="admin">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RESIST THE PUPPET DASHBOARD</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a data-toggle="tooltip" data-placement="bottom" title="Exit from dashboard" href="<?= $this->url('home', ['action' => 'index']) ?>"><i class="fa fa-lg fa-window-close-o"></i></a></li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'index' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'index']) ?>"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'letters' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'letters']) ?>"><i class="fa fa-envelope"></i> Letters</a>
                    </li>
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'divisions' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'divisions']) ?>"><i class="fa fa-map-o"></i> Divisions</a>
                    </li>
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'offices' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'offices']) ?>"><i class="fa fa-building-o"></i> Offices</a>
                    </li>
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'officials' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'officials']) ?>"><i class="fa fa-briefcase"></i> Officials</a>
                    </li>
                    <li >
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'add-template' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'add-template']) ?>"><i class="fa fa-pencil-square"></i> New Template</a>
                    </li>
                    <li >
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'templates' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'templates']) ?>"><i class="fa fa-pencil-square-o"></i> Templates</a>
                    </li>
                    <li >
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'add-category' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'add-category']) ?>"><i class="fa fa-code"></i> New Category</a>
                    </li>
                    <li >
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'categories' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'categories']) ?>"><i class="fa fa-file-code-o"></i>  Categories</a>
                    </li>
                    <li>
                        <a class="<?= $this->route()->getRoute() === 'admin-dashboard' && $this->route()->getParam('action') === 'users' ? 'text-bold' : '' ?>" href="<?= $this->url('admin-dashboard', ['action' => 'users']) ?>"><i class="fa fa-user-circle-o"></i> Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <?= $this->content ?>
    </div>
</div>

</body>
</html>