.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

footer {
    margin-top: 85px;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #f5f5f5;
    color: #00adef;
}

footer a {
    color: #00adef;
}

.navbar-inverse {
    background: #3c425a;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

#value {
    font-family: font-signature !important;
    font-size: 25px;

}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.letter-template {
    min-height: 256px;
    border: 3px solid #e8f2f4;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    margin-bottom: 11px;
    background-size: 128px;
    background: rgba(232, 242, 244, 0.21) url("../img/document-icon.png") no-repeat top;
}

.letter-template > div.bottom {
    background: #E8F2F4;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 12px;
    margin: 0;
    padding-left: 10px;
    cursor: pointer;
}

#editor {
    overflow: scroll;
    max-height: 300px
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bordered-blue {
    border: 4px solid rgba(0, 173, 239, 0.1);
    padding: 15px;
    background: rgba(0, 173, 239, 0.03);
}

.well360 {
    min-height: 360px;
}

.tagcloud {
    background: #f3f3f3;
    color: #0066FF;
    padding: 10px;
    border: 1px solid #f3f3f3;
}

.tagcloud h1,
.tagcloud h2,
.tagcloud h3,
.tagcloud h4,
.tagcloud h5 {
    color: #3C425A;
}

.tagcloud a:link, #tagcloud a:visited {
    text-decoration: none;
}

.tagcloud a:hover, #tagcloud a:active {
    text-decoration: underline;
    color: #000;
}

.tagcloud span {
    padding: 4px;
}

.smallest {
    font-size: 10px;
}

.small {
    font-size: 12px;
}

.medium {
    font-size: 14px;
}

.large {
    font-size: 16px;
}

.largest {
    font-size: 18px;
}

/***************  WELCOME  *************/
.logo {
    text-align: center;
    margin-bottom: 30px;
}

.choose_form {
    background-color: #ededed;
    padding: 40px;
}

.choose_form p {
    font-size: 17px;
    text-align: center;
}

.choose_form .four_menu input:first-child {
    width: 32%;
}

.choose_form .four_menu input:last-child {
    width: 24%;
}

.choose_form .four_menu input {
    height: 46px;
    border-radius: 6px;
    border: 1px solid #cbcbcb;
    width: 21%;
    font-size: 16px;
    padding: 0 10px;
}

.choose_form .four_menu select {
    background: #FFFFFF;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #cbcbcb;
    width: 21%;
    font-size: 16px;
    padding: 0 10px;
}

.btn_continue {
    width: 220px;
    height: 46px;
    background-color: #d42033;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.btn_continue a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 2.6;
    font-size: 18px;
}

.btn_continue a:hover {
    text-decoration: none;
}

.welcome_foot {
    background: #FFFFFF;
    border-top: 2px solid #9d9d9d;
    padding-top: 10px;
}

.foo_links a {
    color: #333;
    margin-right: 10px;
}

.foo_links a::after {
    display: inline-block;
    content: '|';
    margin-left: 15px;
}

.foo_links a:last-child::after {
    display: none;
}

.socials {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../img/socials.png);
    background-repeat: no-repeat;
    background-size: 26px 109px;
    margin-left: 15px;
}

.socials:first-child {
    margin-left: 0;
}

.socials.twit {
    background-position: 0px -28px;
}

.socials.inst {
    background-position: 0px -56px;
}

.socials.linkd {
    background-position: 0px -84px;
}

/************* HOME PAGE *********/

.home_top {
    margin-bottom: 20px;
}

.home_page {
    margin-bottom: 30px;
}

.top_pan {
    background-color: #244572;
    min-height: 55px;
}

.top_panel .home_top a{
    display: block !important;
    background: #244572;
    text-align: center;
    margin-top: 20px;
}

.top_panel .home_top a:last-child span{
    position: relative;
    right: 24px;
}

.nav_panel a:last-child span{
    width: 22px;
    height: 23px;
    display: inline-block;
    background-image: url(../img/chat.png);
    background-size: 22px;
    background-position: top;
}

.nav_panel a, .top_panel .home_top a {
    display: inline-block;
    height: 55px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 2.6;
    padding: 0 10px;
    cursor: pointer;
}

.nav_panel a:hover, .top_panel .home_top a:hover {
    background-color: #d42033;
}

.nav_panel a span,  .top_panel a span {
    width: 22px;
    height: 19px;
    display: inline-block;
    background-image: url(../img/nav_icons.png);
    background-repeat: no-repeat;
    background-size: 22px 57px;
    vertical-align: middle;
    margin-right: 10px;
}

.nav_panel .register span,  .top_panel a span {
    background-position: 0px -19px;
}

.nav_panel .contact span {
    background-position: 0 -39px;
}

.main_home {
    position: relative;
    text-align: center;
}

.main_home p {
    display: inline-block;
    font-size: 48px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 10px;
}

.main_home img {
    max-width: 100%;
}

.main_home div {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 38%;
}

.home_content {
    margin: 50px 0 50px 0;
    padding-bottom: 50px;
}

.home_content p {
    font-size: 17px;
    text-align: center;
    padding: 0 50px;
}

.foo_home {
    height: 100px;
}

.foo_home .foo_socials {
    text-align: right;
}

.foo_home span, .foo_home a {
    color: #333;
    font-size: 17px;
}

.foo_home .row {
    margin-top: 38px;
}

.foo_home .contacts{
    display: flex;
    justify-content: space-around;
}

.distr_content {
    margin-bottom: 100px;
}

.distr_content form{
    background-color: #f6f2f6;
    padding: 40px 50px;
}

.distr_content h1, .distr_content h3{
    text-align: center;
    color: #244572;
}

.distr_content form .center-block{
    text-align: center;
}

.distr_content input[type='text'],
.distr_content input[type='password'],
.distr_content select {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 0 10px;
    font-size: 16px;
}

.distr_button {
    width: 100%;
    height: 68px;
    text-align: center;
    background-color: #d42033;
    border-radius: 5px;
    margin-top: 20px;
}

.distr_button button {
    background: transparent;
    border: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 25px;
    line-height: 2.6;
}

.text-bold {
    font-weight: bold;
}

.alert-fixed {
    position: fixed;
    right: 10px;
    top: 20px;
    width: 400px;
    box-shadow: #A9A9A9 3px 3px 10px -3px;
}

.alert-fixed ul {
    list-style: none;
    padding-left: 6px;
}

/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body.admin {
    background-color: #f8f8f8;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}
@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eeeeee;
}
.sidebar .arrow {
    float: right;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}
.chat li .chat-body p {
    margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}
.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
.login-panel {
    margin-top: 25%;
}
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}
.show-grid {
    margin: 15px 0;
}
.huge {
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}
.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}
.timeline > li {
    position: relative;
    margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(10%);
        width: -moz-calc(10%);
        width: -webkit-calc(10%);
    }
    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }
    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}

.bottom-space {
    margin-bottom: 100px;
}


.divider {
    width: 100%;
    border-top: 1px solid rgb(201, 200, 203);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_form form {
    padding: 40px 50px;
}

.body_form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.body_form .row span {
    word-wrap: break-word;
}

.body_form .right_col label{
    margin-left: 10px;
    vertical-align: top;
}

.body_form input[type="text"], .body_form select {
    border: 1px solid rgb(201, 200, 203);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background: transparent;
    outline: none;
    width: 100%;
}

.body_form select {
    text-align: center;
}

#main_content {
    min-height: 70vh;
}

.question-block {
    border: 1px solid;
    margin-bottom: 10px;
    padding: 3px;
}