@font-face {
    font-family: 'font-signature';
    src: url('../fonts/rougescript-regular-webfont.eot');
    src: url('../fonts/rougescript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rougescript-regular-webfont.woff2') format('woff2'),
         url('../fonts/rougescript-regular-webfont.woff') format('woff'),
         url('../fonts/rougescript-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blackjack';
    src: url('../fonts/blackjack-webfont.eot');
    src: url('../fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackjack-webfont.woff2') format('woff2'),
         url('../fonts/blackjack-webfont.woff') format('woff'),
         url('../fonts/blackjack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}