<h1>Edit User</h1>
<div class="panel" >

    <div class="panel-body">
        <form method="post" class="async" action="">
            <?php if (true === isset($this->user)) : ?>
                <input type="hidden" name="id" value="<?= $this->user->getId() ?>">
            <?php endif; ?>
            <div class="form-group">
                <label for="email_field">Email</label>
                <input type="text" name="email" class="form-control" value="<?= isset($this->user) ? $this->user->getEmail() : ''?>">
            </div>
            <div class="form-group">
                <label for="name_field">Full Name</label>
                <input type="text" name="name" class="form-control" value="<?= isset ($this->user) ? $this->user->getName() : '' ?>">
            </div>
            <div class="form-group">
                <label for="role_field">Role</label>
                <input type="text" name="role" class="form-control" value="<?= isset($this->user) ? $this->user->getRole() : ''?>">
            </div>
            <div class="form-group">
                <label for="address_field">Address</label>
                <input type="text" name="address" class="form-control" value="<?= isset($this->user) ? $this->user->getSettings()->getAddressLine() : ''?>">
            </div>
            <div class="form-group">
                <label for="city_field">City</label>
                <input type="text" name="city" class="form-control" value="<?= isset($this->user) ? $this->user->getSettings()->getCity() : ''?>">
            </div>
            <div class="form-group">
                <label for="state_field">State</label>
                <select name="state" id="" class="form-control">
                    <option value="">Select State</option>
                    <?php foreach ($this->states as $code => $state) : ?>
                        <option
                            value="<?= $code ?>"
                            <?php if ($this->user && ($this->user->getSettings()->getState() === $code
                                    || $this->user->getSettings()->getState() === $state)): ?>
                                selected
                            <?php endif; ?>
                        >
                            <?= $state ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-group">
                <label for="zip_field">Zip</label>
                <input type="text" name="zip" class="form-control" value="<?= isset($this->user) ? $this->user->getSettings()->getZip() : ''?>">
            </div>
            <div class="form-group button-block text-right">
                <div class="col-sm-12 controls">
                    <button class="btn btn-default">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>