<h1 class="page-header">User <?= $user->getName(); ?></h1>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>E-mail</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
        <tr>
            <td><?= $user->getEmail(); ?></td>
            <td><?= $user->getName(); ?></td>
            <td><?= $user->getRole(); ?> </td>
            <td><?= $user->getSettings()->getAddressLine(); ?> </td>
            <td><?= $user->getSettings()->getCity(); ?> </td>
            <td><?= $user->getSettings()->getState(); ?> </td>
        </tr>
    </table>
</div>

