<form action="<?= $this->url('admin-interactive', ['action' => 'offices']) ?>" data-controller="interactive" data-action="offices" class="async call-action">
    <select name="division" id="division" class="select2">
        <?php foreach ($this->divisions as $id => $division) : ?>
            <option value="<?= $id ?>"><?= $division['name'] ?></option>
        <?php endforeach; ?>
    </select>
    <button class="btn btn-primary">OK</button>
</form>