<form data-controller="interactive" data-action="officials" class="async call-action" action="<?= $this->url('admin-interactive', ['action' => 'officials']) ?>">
    <select name="office" id="office">
        <?php foreach ($this->offices as $office) : ?>
            <option value="<?= $office['name'] ?>"><?= $office['name'] ?></option>
        <?php endforeach; ?>
    </select>
    <input type="hidden" name="division" value="<?= $this->division ?>">
    <button class="btn btn-primary">OK</button>
</form>