<form>
    <select name="official" id="official">
        <?php foreach ($this->officials as $official) : ?>
            <option value="<?= $official['name'] ?>"><?= $official['name'] ?></option>
        <?php endforeach; ?>
    </select>
    <input type="hidden" name="division" value="<?= $this->division ?>">
    <input type="hidden" name="office" value="<?= $this->office ?>">
</form>