<div class="row">
    <div class="col-md-4"><label for="pipeline_all">All legislators</label></div>
    <div class="col-md-4"><input type="radio" name="type" id="pipeline_all" value="all" checked></div>
</div>
<div class="row">
    <div class="col-md-4"><label for="pipeline_division">By divisions</label></div>
    <div class="col-md-4"><input type="radio" name="type" id="pipeline_division" value="<?= $this->url('service', ['action' => 'by-divisions']) ?>"></div>
</div>
<div class="row">
    <div class="col-md-4"><label for="pipeline_office">By offices</label></div>
    <div class="col-md-4"><input type="radio" name="type" id="pipeline_office" value="<?= $this->url('service', ['action' => 'by-offices']) ?>"></div>
</div>
<div class="row">
    <div class="col-md-4"><label for="pipeline_official">By officials</label></div>
    <div class="col-md-4"><input type="radio" name="type" id="pipeline_official" value="<?= $this->url('service', ['action' => 'by-officials']) ?>"></div>
</div>


<select name="search" id="search_pipeline"></select>
<button class="btn btn-success" id="add-pipeline">Add pipeline</button>