/*
Theme Name: Schema by MyThemeShop
Theme URI: http://mythemeshop.com/themes/schema/
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Schema is a fast loading, ultra-SEO friendly WordPress theme that features rich snippets in order to help search engines identify all parts of your site and rank you higher.
Version: 3.1.2
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html { -webkit-font-smoothing: antialiased }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea {
    margin: 0;
    font-weight: inherit;
}
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    font-weight: normal;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/*-[ Framework ]--------------------*/
body {
    font: 14px/1.5 Noto Sans, sans-serif;
    color: #555;
    background-color: #EBEBEB;
	height: 100%;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 { text-transform: uppercase }
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #0274BE;
    transition: all 0.25s linear;
}
a:hover { color: #0274BE }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0;
}
#page, .container {
    max-width: 1152px;
    min-width: 240px;
}
#page {
    padding-top: 35px;
    min-height: 100px;
    float: none;
    clear: both;
}
/*-[ Header ]-----------------------*/
header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    position: relative;
    float: left;
    min-width: 100%;
    width: 100%;
    z-index: 99;
    background: #fff;
}
.main-header .container { background: #fff }
#header {
    position: relative;
    min-width: 100%;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #222;
}
#header h1, #header h2 {
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
div#regular-header {
    overflow: hidden;
    clear: both;
    padding: 0;
}
#logo a {
    text-transform: uppercase;
    float: left;
    line-height: 1;
    color: #222;
}
#header #logo a {
    font-size: 28px;
    color: #fff;
}
#logo img { float: left }
.logo-wrap {
    margin: 49px 0;
    overflow: hidden;
    float: left;
}
#header .logo-wrap {
    padding: 22px 0;
    margin: 0;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search { float: right }
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
#header #s {
    margin: 0 !important;
    width: 80%;
}
.widget-header {
    float: right;
    max-width: 77%;
    margin-top: 20px;
}
.small-header { text-align: center }
.small-header .widget-header {
    float: none;
    display: inline-block;
    margin-bottom: -20px;
}
.widget-header img { float: left }
.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}
#primary-navigation .navigation .menu {
    float: left;
    margin-right: 20px;
}
/*-[ Header Social Icons ]--------*/
div.header-social-icons {
    float: right;
    background: #eee;
    position: relative;
    margin-left: 35px;
}
div.header-social-icons:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 30px 0px 0;
    border-color: rgba(0, 0, 0, 0) #eee rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    left: -30px;
}
#primary-navigation .header-social-icons a, .header-social-icons a {
    float: left;
    font-size: 18px;
    padding: 14px 10px;
}
#primary-navigation .header-social-icons a:last-child { padding-right: 15px }
#primary-navigation .navigation > ul > li:first-child > a { padding-left: 0 }
.navigation .toggle-caret { display: none }
/*-[ Navigation ]-----------------*/
.regular_header div#primary-nav {
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
}
#primary-navigation { float: right }
#primary-navigation .navigation ul ul { width: 200px }
#primary-navigation .navigation ul ul ul { left: 200px }
.regular_header #primary-navigation {
    float: left;
    width: 100%;
}
#primary-navigation .navigation ul ul a { padding-right: 45px }
.menu-item-has-children > a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 14px;
}
#primary-navigation .navigation .menu-item-has-children > a { padding-right: 25px }
#secondary-navigation {
    display: block;
    float: right;
}
.regular_header #secondary-navigation {
    float: left;
    width: 100%;
}
#secondary-navigation .navigation ul ul li { background: #fff }
#secondary-navigation .navigation ul li:hover, #secondary-navigation .navigation ul .current-menu-item { background: #fff }
#secondary-navigation .navigation ul li:hover a { color: #777 }
#secondary-navigation a {
    text-align: left;
    text-decoration: none;
    padding: 24px 25px;
    transition: none;
}
#secondary-navigation .navigation > ul > .menu-item-has-children > a { padding-right: 38px }
#secondary-navigation .menu-item-has-children > a:after { right: 22px }
#primary-navigation a {
    padding: 17px 15px 16px 15px;
    line-height: 1;
}
#secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
.navigation {
    float: left;
    position: relative;
    width: 100%;
}
.navigation ul { margin: 0 auto }
.navigation ul li {
    float: left;
    line-height: 24px;
    position: relative;
    transition: all 0.25s linear;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
.navigation ul li li {
    background: #fff;
    border-bottom: 0;
}
.navigation ul ul {
    position: absolute;
    width: 255px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
}
.navigation ul ul li {
    padding: 0;
    background: #fff;
    color: #000;
}
#primary-navigation .navigation ul ul a, #primary-navigation .navigation ul ul a:link, #primary-navigation .navigation ul ul a:visited, #secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited {
    padding: 9px 45px 9px 20px;
    position: relative;
    width: 190px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid   rgba(255, 255, 255, 0.05);
    margin: 0;
}
#primary-navigation .navigation ul ul a, #primary-navigation .navigation ul ul a:link { width: 135px }
.navigation ul ul li:first-child a {

}
.navigation ul ul li:last-child a { border-bottom: none }
.navigation ul ul { display: none }
.navigation ul ul ul {
    left: 256px;
    top: 0;
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.2);
}
.sub-menu .menu-item-has-children:after { color: #fff }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
a#pull { display: none }
.navigation i { margin-right: 4px }
/* Flyout nav */
#header.sticky-navigation-active {
    z-index: 500;
    position: fixed;
    top: 0;
    margin: 0 !important;
    -webkit-backface-visibility: hidden;
}
.admin-bar .sticky-navigation-active { top: 32px }
.sticky-navigation a { transition: all 0.25s linear }
/*-[ Content ]--------------------*/
.article {
    width: 67.015%;
    float: left;
    margin-bottom: 35px;
    padding: 3.994%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);
}
#content_box {
    float: left;
    width: 100%;
}
.post {
    float: left;
    width: 100%;
}
.single_post {
    background-color: #fff;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.single_page {
    background-color: white;
    padding-top: 0;
}
.post-content {
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
}
.post-single-content {
    clear: both;
    float: left;
    width: 100%;
}
.readMore {
    float: left;
    margin-top: 10px;
}
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width {
    background: white;
    overflow: hidden;
    padding-top: 0;
    padding: 4%;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.widget .wp-post-image, .widget .wpt_thumb_small {
    float: left;
    margin-bottom: 10px;
}
.featured-thumbnail {
    max-width: 100%;
    float: left;
    width: 100%;
}
#featured-thumbnail {
    max-width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
}
#featured-thumbnail.schema-widgetfull {
    float: left;
    margin-right: 20px;
}

#featured-thumbnail.schema-widgetfull + .front-view-content {
    width: auto;
    float: none;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.title { clear: both }
.single-title {
    float: left;
    width: 100%;
}
.page h1.title {
    padding-top: 0;
    margin-bottom: 0;
}
.post-info {
    display: block;
    color: #AAAAAA;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}
header .post-info a { color: #777 }
.post-info > span { margin-right: 20px }
/**********latest-posts***********/
article header {
    float: left;
    width: 100%;
}
.featured-category-title {
    float: left;
    width: 100%;
    clear: both;
    font-size: 22px;
}
.featured-category-title a {
    float: left;
    width: 100%;
    color: #222222;
    margin-top: 30px;
}
.latestPost {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.latestPost .title { display: block }
.front-view-content {
    float: left;
    width: 100%;
}
.single_post header { width: 100% }
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
article ul {
    padding: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}
article ol {
    padding: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    padding-top: 0;
    padding-bottom: 0;
}
article ul ul { list-style-type: square }
article ul ul ul { list-style-type: square }
article .iconlist { padding-left: 0 }
article .iconlist li { list-style-type: none }
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Facebook like box Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
.fb_iframe_widget, .fb_iframe_widget span {
    max-width: 100%;
    width: 100%!important;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .menu-item-has-children > a:after { display: none }
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 8px }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    line-height: inherit;
}
.toggle-menu .toggle-caret .fa {
    width: 20px;
    text-align: center;
    font-size: 16px;
    color: inherit;
    line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa {

}
/*-[ Text Widget ]---------------------------*/
/*-[ Form Input ]------------------*/
input, textarea, select {
    width: 70%;
    padding: 8px 12px;
    font-size: 14px;
    color: #444;
    border: 1px solid #E4E4E4;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
    width: 100%;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #E4E4E4;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #E4E4E4;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#sidebar .widget.widget_search, #sidebar .widget.mts_subscribe_widget, #sidebar .widget.widget_product_search { background: #222 }
#sidebar .widget.widget_search h3 { color: #fff }
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit, .mts-subscribe input[type="submit"], .widget_product_search input[type="submit"] {
    padding: 9px 0;
    float: right;
    border: 0;
    width: 100%;
    height: 48px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    transition: all 0.25s linear;
    background: transparent;
    border: 0;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
}
#s, .mts-subscribe input[type="text"], .widget_product_search .search-field {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 15px 0;
    text-indent: 10px;
    color: #999;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #EEE inset;
    box-sizing: border-box;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #999 }
:-moz-placeholder { color: #999 }
::-moz-placeholder { color: #999 }
:-ms-input-placeholder { color: #999 }
:input-placeholder { color: #999 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 14px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb, .breadcrumb> div, .breadcrumb .fa-caret-right, .breadcrumb .root a { float: none }
.breadcrumb a { text-transform: capitalize }
.breadcrumb {
    clear: both;
    padding: 0;
    overflow: hidden;
    margin-bottom: 15px;
}
.breadcrumb> div {
    padding: 0 5px;
    overflow: hidden;
    float: none;
    display: inline-block;
}
.breadcrumb .fa-caret-right { padding: 0 }
.breadcrumb .root { padding: 0 }
.breadcrumb .fa-caret-right { padding: 0 0 }
.breadcrumb> div { overflow: visible }
.no-results h2 { font-size: 16px }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
    max-width: 100%;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
    max-width: 100%;
}
/*-[ Sidebar ]---------------------*/
#sidebar p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 29.5%;
    max-width: 340px;
}
#sidebar .wp-post-image, footer .wp-post-image {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
#sidebar .widget {
    margin-bottom: 27px;
    float: left;
    clear: both;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);
}
.sidebar .widget h3 { text-transform: uppercase }
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget li {
    list-style-type: square;
    margin-left: 17px;
    margin-bottom: 7px;
}
.widget h3 { margin: 0px 0 15px 0 }
footer .widget.widget_rss .widget-title a { color: #fff }
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    transition: all 0.25s linear;
    color: #aaa;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    padding-top: 2px;
}
.advanced-recent-posts li:last-child, .popular-posts li:last-child, .category-posts li:last-child, .related-posts-widget li:last-child, .author-posts-widget li:last-child { margin-bottom: 0 }
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
    margin: 0;
    font-size: 14px!important;
}
.category-posts a, .advanced-recent-posts a, .popular-posts a, .related-posts-widget a, .author-posts-widget a { display: block }
.widget .meta, .widget .post-info {
    font-size: 14px!important;
    overflow: hidden;
}
.widget .post-info {
    clear: none;
    width: auto;
    float: none;
    color: #777;
    margin-bottom: 0;
}
.widget .post-info > span {
    position: relative;
    margin-right: 12px;
}
.widget .post-info > span:before {
    position: absolute;
    content: "";
    background: #777777;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    top: 50%;
    margin-top: -2px;
    right: -10px;
}
.widget .post-info > span:last-child:before { display: none }
.widget .thecomment .comm { color: #777!important }
#sidebar #sidebar-search { background: #222 }
#sidebar #sidebar-search h3, #sidebar .widget.widget_product_search h3, #sidebar .widget.mts_subscribe_widget h3 { color: #fff }
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {
    padding: 12px 0 7px;
    overflow: hidden;
    clear: both;
    border: none;
}
.shareit.top {
    margin-bottom: 10px!important;
    padding-top: 0!important;
}
.share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
    width: 90px;
}
.share-item.shareit.top {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0;
    width: 100%;
}
.share-item.facebookbtn, .share-item.facebooksharebtn {
    margin-top: -4px;
    width: 100px;
    height: 25px;
}
.share-item.gplusbtn { width: 85px }
.share-item.pinbtn { margin-top: 0px }
.share-item.stumblebtn {
    margin-top: 1px;
    height: 24px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 8px 8px 0!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #FFF!important;
    transition: all .4s;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
/*-[ Footer ]-------------------*/
footer {
    background: #222;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    clear: both;


}
footer .container {
    padding: 0;
    width: 1152px;
 min-height: 100%;

}
.footer-widgets {
    padding: 40px 0 10px 0;
    color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
}
.footer-widgets .f-widget {
    width: 32%;
    margin-right: 2%;
    float: left;
}
.f-widget .widget {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: both;
}
.footer-widgets .f-widget #searchform .fa-search:hover { cursor: pointer }
.f-widget a { color: rgba(255, 255, 255, 0.45) }
.f-widget ul li { margin-bottom: 5px }
.f-widget .top-week li a { font-size: 15px }
.f-widget #s { border: 1px solid rgba(255, 255, 255, 0.05) }
.f-widget #s::-webkit-input-speech-button { margin-right: 8px }
.f-widget #searchform .fa-search {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
}
.footer-widgets.widgets-num-3 .f-widget.last { margin-right: 0 }
.widgets-num-4 .f-widget {
    width: 22.7%;
    margin-right: 3%;
}
.widgets-num-4 .f-widget.last { margin-right: 0 }
.f-widget .ajax-search-results-container {
    background: #1c1c1c;
    color: #a5a5a5;
}
.f-widget .ajax-search-results-container.loading:after { background-color: rgba(0,0,0,0.8) }
.f-widget .ajax-search-results-container a { color: #fff }
.copyrights {
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 17px;
    padding-top: 20px;
    background: #fff;
}
#copyright-note {
    width: 100%;
    margin: 0 auto;
    clear: both;
    max-width: 100%;
}
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.to-top {
    float: right;
    position: relative;
}
.toplink .fa-angle-double-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
}
.toplink { padding-right: 27px }
#move-to-top {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    padding: 10px 10px 18px 10px;
    position: fixed;
    right: 15px;
    bottom: 10px;
    transition: all 0.25s linear 0s;
    width: 20px;
    z-index: 25;
    background: #222;
    text-align: center;
    border-radius: 3px;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-angle-double-up { font-size: 22px }
/*-[ Related Posts ]---------------------------*/
.related-posts {
    background-color: #FFF;
    margin-bottom: 20px;
    clear: both;
    float: left;
    width: 100%;
}
.related-posts h4 { font-size: 30px }
.related-posts article {
    width: 31%;
    margin-right: 3.5%;
    float: left;
    margin-bottom: 15px;
}
.related-posts #featured-thumbnail { margin-bottom: 0 }
.related-posts article:nth-child(7n-3) { clear: left }
.related-posts .post-info {
    clear: none;
    float: none;
}
.related-posts .last {
    margin-right: 0;
    padding-bottom: 0;
}
.related-posts .title {
    font-size: 16px;
    margin-top: 10px;
}
.related-posts .title a {
    font-size: 16px!important;
    color: #222!important;
    font-weight: 400!important;
}
.related-posts .title a:hover { color: #0274be!important }
.related-posts article header { margin-bottom: 0 }
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
    margin: 0 0 30px -6.8%;
    padding: 30px 6.8%;
    min-height: 180px;
    background-color: #222;
    float: left;
    clear: both;
    width: 100%;
    color: #AAA;
}
.postauthor h4 {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
}
.postauthor h5 {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize;
}
.postauthor img {
    float: left;
    margin: 4px 20px 0 0;
    border-radius: 50%;
}
.postauthor h4 a { color: #473636 }
#respond h4, .total-comments, .postauthor h4, .postauthor-top {
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: 30px;
}
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: initial!important;
    padding: 2px 10px;
    margin-bottom: 3px;
    float: left;
    margin-right: 3px;
    background: #222;
    color: #FFFFFF!important;
    transition: all 0.25s linear;
    border-radius: 3px;
}
.tagcloud a:hover, .widget .wpt_widget_content #tags-tab-content ul li a:hover { background: #222 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 48%;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
#wp-calendar caption {
    padding-bottom: 10px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    background: #222;
    padding: 12px 15px;
    text-align: left;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
footer #wp-calendar {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}
footer #wp-calendar caption { background: rgba(255, 255, 255, 0.05) }
#wp-calendar td { border-color: rgba(255, 255, 255, 0.05) }
#wp-calendar tbody tr:nth-child(1) td { border-top: 0 }
/*-[Comments]--------------*/
.nocomments {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
}
.total-comments {
    padding-top: 7px;
    padding-bottom: 9px;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    background-color: #fff;
    margin-top: 0;
    float: left;
    clear: both;
    width: 100%;
}
#respond h4 {
    padding-top: 5px;
    padding-bottom: 7px;
}
#commentsAdd {
    background-color: #fff;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 30px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input {
    padding: 11px;
    font-weight: inherit;
}
input#author, input#email, input#url {
    max-width: 300px;
    border: 1px solid #E4E4E4;
    background: #fff;
    max-width: 100%;
    margin-right: 10px;
}
input#author, input#email, input#url, #comment { transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    color: #EE210B;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
#commentform input#submit, #mtscontact_submit {
    line-height: 1;
    background-color: #0274BE;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
    float: right;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: all 0.2s linear;
    border-radius: 3px;
}
#commentform input#submit:hover, #mtscontact_submit:hover {
    background: #222;
    color: #fff;
}
#mtscontact_submit {
    float: right;
    width: auto;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    margin-left: 0;
    margin-top: 13px;
    padding: 0;
}
.commentlist li {
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: left;
    width: 100%;
    position: relative;
}
.commentlist > li { margin: 0 0 30px 0 }
.commentlist p { margin-bottom: 5px }
.ago {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}
.fn {
    line-height: 1.375em;
    font-weight: bold;
}
.fn a {
    color: #EE210B;
    font-weight: bold;
    font-size: 15px;
}
.comment-meta { font-size: 12px }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i { color: #FFB300!important }
.reply {
    margin-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    width: 100%;
    float: right;
}
.reply a {
    font-weight: bold;
    float: left;
    padding: 0 0px;
    color: #BDBDBD;
    font-size: 12px;
}
#commentsAdd #respond h4 { margin-bottom: 19px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 90%;
    box-sizing: border-box;
    margin-top: 30px;
}
.commentlist .children > li {
    margin-top: 15px;
    margin-bottom: 15px;
}
.commentlist .children > li:first-child { margin-top: 0 }
.commentlist .children > li:last-child { margin-bottom: 0 }
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 95.5%;
    border: 1px solid #E4E4E4;
    background: #fff;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p.form-submit { margin-bottom: 0 }
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes {
    font-style: italic;
    margin-top: 5px;
}
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
    display: block!important;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    padding: 2.2% 0;
    width: 100%;
}
.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.page-numbers.current, .pagination a:hover {
    color: #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 10px 13px;
    background: #0274BE;
    min-width: 36px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}
.pagination a, #load-posts a, .single .pagination > .current .currenttext, .pagination .page-numbers.dots {
    background: #222;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    padding: 10px 13px;
    min-width: 36px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
}
#load-posts {
    float: left;
    width: 100%;
    text-align: center;
}
#load-posts .fa, #fs2_load_more_button .fa { margin-right: 5px }
.pagination a:hover { color: #fff }
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination .nav-previous a, .pagination .nav-next a { color: #fff!important }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #222 }
.single .pagination a .currenttext, .single .pagination a .current {
    padding: 0;
    background: rgba(0, 0, 0, 0)!important;
    margin-right: 0;
}
.single .pagination a:hover .currenttext { color: #fff }
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.contact-form input { max-width: 300px }
.contact-form textarea { height: 150px }
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] { margin-top: 12px }
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    position: absolute;
    top: 39px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    background: #FFF;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 4px;
    padding: 0;
}
.ajax-search-results li {
    margin: 0;
    display: block;
    list-style: none;
    min-height: 75px;
    padding: 0 8px;
}
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
    float: left;
}
.ajax-search-meta {
    margin: 6px 8px;
    height: 20px;
    font-size: 13px;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts a {
    font-weight: bold;
    margin: 0;
    float: none;
}
#load-posts a.inactive { cursor: default }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 25px 15px 15px;
    margin: 15px 0;
    position: relative;
    background: #222;
    font-family: monospace;
    color: #aaa;
    box-sizing: border-box;
}
pre:before {
    content: "\f121";
    color: #FFF;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
.flex-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-[ Parallax ]--------------------------------*/
#parallax, #zoom-out-effect, #zoom-out-bg {
    position: relative;
    padding-bottom: 350px;
    height: 0;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 15px;
}
#page.parallax, #page.zoomout { padding-top: 15px }
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    padding: 2px 8px;
}
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: inherit;
    font-style: normal;
}
.latestPost .review-type-circle.latestPost-review-wrapper { height: 36px }
#wpmm-megamenu .review-total-only .review-type-circle.review-total-only, #wpmm-megamenu .review-type-circle.wp-review-show-total { height: 26px }
.navigation .wpmm-megamenu-showing.wpmm-light-scheme a { color: #fff!important }
/*-[ WP Review Widget & WP Tab Widget ]---------------------------*/
.widget .widget_wp_review_tab .review-total-only.large-thumb {
    top: 15px;
    right: 15px;
}
.widget .wp_review_tab_widget_content ul.wp-review-tabs li, .widget .wp_review_tab_widget_content, .widget .wpt_widget_content ul.wpt-tabs li {
    border: none;
    overflow: hidden;
}
.widget .wp_review_tab_widget_content .tab-content li, .sidebar .wpt_widget_content .tab-content li {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 15px;
}
.widget .wp_review_tab_widget_content .entry-title, .sidebar .wpt_widget_content a { font-weight: normal }
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title a {
    border-bottom: 1px solid #1B1B1B;
    border-left: 1px solid #1B1B1B;
}
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title:nth-child(2n) a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title:nth-child(2n) a { border-right: none }
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {
    background: #333;
    color: #7E7D7D;
    border: none;
    padding: 14px 0;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    border-left: 1px solid #1B1B1B;
}
.widget .wpt_widget_content .tab_title.selected a, .widget .wp_review_tab_widget_content .tab_title.selected a {
    background: #222;
    color: #fff;
    border-bottom: 0;
}
.widget .wpt_widget_content #tags-tab-content ul li { float: left }
.wpt_widget_content #tags-tab-content ul li a {
    font-size: initial;
    border-radius: 3px;
}
.widget .wpt_widget_content .pagination, .widget .wp_review_tab_widget_content .pagination { padding-bottom: 15px }
.widget .review-total-only.small-thumb, .widget .review-total-only {
    font-size: 13px;
    padding: 0;
    color: #222;
    background: transparent;
}
footer .widget .review-total-only.small-thumb, footer .widget .review-total-only { color: #777 }
.widget .review-total-only.large-thumb, .widget li:first-child .review-total-only.large-thumb { right: 0 }
footer .widget .review-total-only.large-thumb, footer .widget li:first-child .review-total-only.large-thumb {
    top: 15px;
    right: 15px;
}
.widget .review-total-only.large-thumb {
    padding: 4px 10px;
    background: #222;
    color: #fff;
}
footer .review-total-only.small-thumb .review-result-wrapper i { color: #fff!important }
.sidebar .widget .wpt_widget_content ul.has-4-tabs li { border-bottom: 0 }
.widget .wpt_widget_content #tags-tab-content ul {
    box-shadow: none;
    padding: 0;
    padding-top: 5px;
}
.widget .wpt_widget_content { border: 0 }
footer .widget .wp_review_tab_widget_content .inside, footer .widget .wpt_widget_content .inside {
    background: rgba(255, 255, 255, 0.05);
    padding: 0;
}
footer .widget .wp_review_tab_widget_content .tab-content li, footer .widget .wpt_widget_content .tab-content li {
    border-bottom-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    margin-bottom: 0;
}
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt, .widget .wp_review_tab_widget_content .wp-review-tab-postmeta {
    color: #aaa;
    font-size: 14px!important;
    line-height: 1.6;
    overflow: hidden;
}
footer .widget .wpt_widget_content .wpt-postmeta, footer .widget .wpt_comment_content, footer .widget .wpt_excerpt, footer .wp_review_tab_widget_content .wp-review-tab-postmeta { color: rgba(255, 255, 255, 0.25) }
.widget .has-4-tabs .wpt_widget_content .tab_title a, .widget .has-4-tabs .wp_review_tab_widget_content .tab_title a {
    background: #333;
    border-left: 1px solid #1B1B1B;
    border-bottom: 1px solid #1B1B1B;
}
footer .widget .wpt_widget_content .tab_title.selected a, footer .widget .wp_review_tab_widget_content .tab_title.selected a {
    background: rgba(255, 255, 255, 0.20);
    color: #fff;
}
footer .widget .wp_review_tab_widget_content .tab-content li:first-child, footer .widget .wpt_widget_content .tab-content li:first-child { padding-top: 15px }
footer .widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(2n+1) a, footer .widget .wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(2n+1) a { border-left: 0 }
.widget .wpt_widget_content .wpt-pagination, .widget .wp_review_tab_widget_content .wp-review-tab-pagination { padding-bottom: 0 }
.widget .wpt_widget_content .wpt-pagination a, .widget .wp_review_tab_widget_content .wp-review-tab-pagination a { margin: 0 }
footer .widget .wpt_widget_content .wpt-pagination a, footer .widget .wp_review_tab_widget_content .wp-review-tab-pagination a { padding: 15px }
/*-[ WooCommerce Cart ]--------------------------------*/
.mts-cart {
    z-index: 1;
    float: right;
    color: #777;
}
#primary-navigation .mts-cart span a {
    display: inline-block;
    padding: 17px 15px 16px 3px;
}
#primary-navigation .mts-cart > span:last-child a { padding-right: 0 }
/*..................
[Slider]
....................*/
.primary-slider-container {
    float: left;
    width: 113.53%;
    margin-left: -6.8%;
    margin-top: -6.8%;
    max-width: 772px;
}
.primary-slider { margin-bottom: 20px }
.primary-slider .slide-caption {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.24);
    color: #fff;
    width: 91.5%;
    padding: 1.2%;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    max-height: 255px;
    position: absolute;
    bottom: 7%;
    left: 3%;
    text-align: center;
}
.primary-slider .slide-title {
    font-size: 32px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.primary-slider .owl-dots {
    bottom: inherit;
    top: 8%;
    margin: 0!important;
    right: 3%;
}
.primary-slider .owl-controls .owl-dot { cursor: pointer }
.primary-slider .owl-controls .owl-dot span {
    background: #555;
    border-radius: 0;
    cursor: pointer;
}
.primary-slider .owl-controls .owl-dot.active span, .primary-slider .owl-controls .owl-dot:hover span {
    background: #FFF;
    transition: all 0.25s ease;
}
.primary-slider .owl-controls .owl-dot.active span { cursor: default }
