<div class="jumbotron">
    <h4>
        Payment was successfully approved.
        <?php if ($this->user !== null) : ?>
            Check payments list by
            <a href="<?= $this->url('letter', ['action' => 'list']) ?>">link</a>
        <?php endif; ?>
    </h4>
    <div class="media">
        <h5>Your letter "<?= $this->letter->getTemplate()->getName() ?>" to <?= $this->letter->getOfficial()->getName() ?> was delivered to the queue</h5>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=455173291275789";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="row">
            <div class="col-md-2 fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                <a class="" href="https://www.facebook.com/sharer/sharer.php?u=<?= $this->url('home', [], ['force_canonical' => true]) ?>&title=RESIST THE PUPPET&description=I just sent a letter about <?= $this->letter->getTemplate()->getName() ?> to my representatives using ResistThePuppet" target="_blank">
                    <img height="24px" src="<?= $this->basePath('img/share-on-facebook.png') ?>" alt="Share on FaceBook">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?= $this->url('home', [], ['force_canonical' => true]) ?>" data-text="I just sent a letter about <?= $this->letter->getTemplate()->getName() ?> to my representatives using ResistThePuppet" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>