<script>
    var baseUrl = '<?= $this->url('home') ?>';
</script>

<script src="<?= $this->basePath('js/vendor/jquery-3.1.0.min.js') ?>"></script>
<script src="<?= $this->basePath('js/vendor/summernote.min.js') ?>"></script>
<script src="<?= $this->basePath('js/vendor/select2.min.js') ?>"></script>
<script src="<?= $this->basePath('js/vendor/bootstrap.min.js') ?>"></script>
<script src="<?= $this->basePath('js/application.js') ?>"></script>
<script src="<?= $this->basePath('js/app/controllers/letter_controller.js') ?>"></script>
<script src="<?= $this->basePath('js/app/controllers/civic_controller.js') ?>"></script>
<script src="<?= $this->basePath('js/app/controllers/user_controller.js') ?>"></script>
<script src="<?= $this->basePath('js/app/controllers/interactive_controller.js') ?>"></script>
<script src="<?= $this->basePath('js/app/dispatcher.js') ?>"></script>
<script src="<?= $this->basePath('js/app/events.js') ?>"></script>