<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('RESIST THE PUPPET')->setSeparator(' - ')->setAutoEscape(false) ?>
        <?= $this->render('layout/header/meta') ?>
        <?= $this->render('layout/header/styles') ?>
        <?= $this->render('layout/header/scripts') ?>
    </head>
    <body>
        <?= $this->render('layout/concern/header') ?>
        <div class="container distr_content" id="main_content">
            <?= $this->content ?>
        </div>
        <?= $this->render('layout/concern/footer') ?>
    </body>
</html>
