<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('RESIST THE PUPPET')->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this->render('layout/header/meta') ?>
    <?= $this->render('layout/header/styles') ?>
    <?= $this->render('layout/header/scripts') ?>
</head>
<body>
<?= $this->render('layout/concern/admin-panel') ?>
<div class="container">
    <div class="logo">
        <a href="<?= $this->url('home') ?>"><img src="<?= $this->basePath('img/main_logo.png') ?>" alt="Main page"></a>
    </div>
    <div id="main_content">
        <?= $this->content ?>
    </div>
</div>
<div class="bottom-space"></div>
<footer class="foo_home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 foo_line"><span>Resist The Puppet. Copyright &copy; <?= date('Y') ?>.</span></div>
            <div class="col-md-4 contacts">
                <?= $this->render('layout/concern/links') ?>
            </div>
            <div class="col-md-offset-1 col-md-3 foo_socials foo_line">
                <a href="#" class="socials fbook"></a>
                <a href="#" class="socials twit"></a>
                <a href="#" class="socials inst"></a>
                <a href="#" class="socials linkd"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
