<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-pencil"></i> Category Information</div>
            <div class="panel-body">
                <form class="async" action="<?= $this->url('admin-actions', ['action' => 'store-category']) ?>">
                    <?php if($this->category) : ?>
                        <input type="hidden" name="category" value="<?= $this->category->getId() ?>">
                    <?php endif; ?>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                id="name"
                                name="name"
                                class="form-control"
                                placeholder=""
                            <?php if($this->category) : ?>
                                value="<?= $this->category->getName() ?>"
                            <?php endif; ?>
                        >
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="form-control"><?php if($this->category) : ?><?= $this->category->getDescription() ?><?php endif; ?></textarea>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>