<form method="post" action="<?= $this->url('admin-actions', ['action' => 'store-template']) ?>" class="async">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <div class="panel panel-default">
                    <div class="panel-heading">Main template information</div>
                    <div class="panel-body">
                        <?php if ($this->template) : ?>
                            <input type="hidden" name="template" value="<?= $this->template->getId() ?>">
                        <?php endif; ?>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" value="<?= $this->template ? $this->template->getName() : '' ?>">
                        </div>
                        <div class="form-group">
                            <label for="wys">Content</label>
                            <i class="text-muted"><b>Note!</b>&nbsp;To insert variable type '@@'</i>
                            <textarea id="wys" name="content" class="form-control">
            <?= $this->template ? htmlentities($this->template->getTemplate()) : '' ?>
        </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="page-header">
                <div class="panel panel-default">
                    <div class="panel-heading">Template Category</div>
                    <div class="panel-body">
                        <select name="category" id="category">
                            <?php if ($this->template && null !== ($category = $this->template->getCategory())) : ?>
                                <?php /** @var \Application\Model\Category $category */ ?>
                                <option selected value="<?= $category->getId() ?>"><?= $category->getName() ?></option>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Template Pipelines</div>
                    <div class="panel-body">
                        <div class="pipelines-area">
                            <button class="btn btn-primary call-action" data-controller="interactive" data-action="pipeline">Add pipeline</button>
                            <?php if ($this->template) : ?>
                                <?php foreach ($this->pipelines as $index => $pipeline) :  /** @var \Application\Model\TemplatePipeline $pipeline */?>

                                    <?php
                                    $name = 'general';
                                    $value = 'true';
                                    $type = 'All';

                                    if ($pipeline->getDivision() !== null) {
                                        $name  = 'divisions[]';
                                        $value = $pipeline->getDivision()->getId();
                                        $type  = 'Division: ' . $pipeline->getDivision()->getName();
                                    } elseif ($pipeline->getOffice() !== null) {
                                        $name  = 'offices[]';
                                        $value = $pipeline->getOffice()->getId();
                                        $type  = 'Office: ' . $pipeline->getOffice()->getName();
                                    } elseif ($pipeline->getOfficial() !== null) {
                                        $name  = 'officials[]';
                                        $value = $pipeline->getOfficial()->getId();
                                        $type  = 'Official: ' . $pipeline->getOfficial()->getName();
                                    }

                                    ?>

                                    <input type="hidden" name="<?= $name ?>" value="<?= $value ?>">
                                    <br><div class="label label-info">
                                        <?php if (max($pipeline->getDivision(), $pipeline->getOffice(), $pipeline->getOfficial()) === null) : ?>
                                            General
                                        <?php else : ?>
                                            <?= $type ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Template Tags</div>
                    <div class="panel-body">
                        <select name="tags[]" id="tags" class="" multiple="multiple">
                            <?php if ($this->template) : ?>
                                <?php foreach ($this->tags as $tag) :  /** @var \Application\Model\Tag $tag */?>
                                    <option selected value="<?= $tag->getValue() ?>"><?= $tag->getValue() ?></option>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Template Questions</div>
                    <div class="panel-body">
                        <input type="text" id="question" class="form-control" placeholder="Question">
                        <br>
                        <button class="btn btn-warning btn-xs" id="add_variant">Add variant</button>
                        <div id="variants_place">
                            <input type="hidden" class="form-control variant" placeholder="Variant value">
                            <input type="hidden" class="form-control compiled_value" placeholder="Compiled value (optional)">
                        </div>
                        <input type="checkbox" id="multiple_choose">
                        <label for="multiple_choose">Multiple</label>
                        <input type="text" id="beginning" placeholder="Question beginning" class="hidden">
                        <br>
                        <button class="btn btn-success btn-xs" id="add_question">Add question</button>
                        <div id="questions_place">
                            <div class="hidden question-block" id="question_block_#">
                                <a href="#" id="remove_question_#">Remove</a>
                                <h5 class="title"></h5>
                                <ul></ul>
                            </div>
                            <?php if ($this->template) : ?>
                                <?php foreach ($this->questions as $index => $question) : /** @var \Application\Model\Question $question */?>
                                    <div class="question-block" id="question_block_<?= $index ?>">
                                        <a href="#" id="remove_question_<?= $index ?>">Remove</a>
                                        <h5 class="title"><?= $question->getMessage() ?></h5>
                                        <ul>
                                            <?php foreach ($this->variants as $variant) : /** @var \Application\Model\Variant $variant */?>
                                                <?php if ($variant->getQuestion() === $question) : ?>
                                                    <li><?= $variant->getValue() ?></li>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                        <div id="real_question_place">
                            <div class="inputs-prepared" id="question_inputs_#">
                                <input disabled class="prepared" type="hidden" id="main" name="question[#]" value="">
                                <input disabled class="prepared" type="hidden" name="multiples[#]" value="">
                                <input disabled class="prepared" type="hidden" name="question_beginning[#]" value="">
                                <input disabled class="prepared" type="hidden" name="variant[#][]" value="">
                                <input disabled class="prepared" type="hidden" name="compiled_value[#][]" value="">
                            </div>
                            <?php if ($this->template) : ?>
                                <?php foreach ($this->questions as $index => $question) : /** @var \Application\Model\Question $question */?>
                                    <div class="inputs-done" id="question_inputs_<?= $index ?>">
                                        <input type="hidden" name="question[<?= $index + 1 ?>]" value="<?= $question->getMessage() ?>">
                                        <?php foreach ($this->variants as $variant) : /** @var \Application\Model\Variant $variant */?>
                                            <?php if ($variant->getQuestion() === $question) : ?>
                                                <input type="hidden" name="variant[<?= $index + 1 ?>][]" value="<?= $variant->getValue() ?>">
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">If ready</div>
                    <div class="panel-body">
                        <button class="btn btn-default btn-lg">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

