<div class="row">
    <h1 class="page-header">Categories</h1>
    <div class="panel panel-default">
        <div class="panel-heading">List</div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                </tr>
                <?php foreach ($this->paginator as $category) : /** @var \Application\Model\Category $category */ ?>
                    <tr>
                        <td>
                            <a href="<?= $this->url('admin-dashboard', ['action' => 'edit-category', 'id' => $category->getId()]) ?>"><?= $category->getName() ?></a>
                        </td>
                        <td><?= $category->getSlug() ?></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
        <div class="panel-footer">
            <?= $this->render('layout/concern/pagination') ?>
        </div>
    </div>
</div>
