<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">Divisions information</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                    <?php foreach ($this->paginator as $division) : ?>
                        <?php /** @var \Application\Model\Division $division  */?>
                        <tr>
                            <td> <?= $division->getId() ?></td>
                            <td>
                                <a
                                    href="<?= $this->url(
                                        'admin-dashboard',
                                        [
                                            'action' => 'offices',
                                            'id' => $division->getId()
                                        ]
                                    )?>
                                "> <?= $division->getName()?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer"><?= $this->render('layout/concern/pagination') ?></div>
        </div>
    </div>
</div>