
<div class="row page-header">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
        <div class="panel-footer"></div>
    </div>
</div>

<h1>Edit Official</h1>
<div class="panel">
    <div class="panel-body">
        <form method="post" class="async" action="">
            <div class="form-group">
                <label for="name_field">Name</label>
                <input type="text" name="name" class="form-control"
                       value="<?= isset ($this->official) ? $this->official->getName() : '' ?>">
            </div>
            <div class="form-group">
                <label for="line_1_field">Line 1</label>
                <input type="text" id="line_1_field" name="line_1" class="form-control"
                       value="<?= empty($this->official->getAddress()[0]['line1']) ? '' : $this->official->getAddress()[0]['line1'] ?>">
            </div>
            <div class="form-group">
                <label for="line_2_field">Line 2</label>
                <input type="text" id="line_2_field" name="line_2" class="form-control"
                       value="<?= empty($this->official->getAddress()[0]['line2']) ? '' : $this->official->getAddress()[0]['line2'] ?>">
            </div>
            <div class="form-group">
                <label for="city_2_field">City</label>
                <input type="text" id="city_2_field" name="city" class="form-control"
                       value="<?= empty($this->official->getAddress()[0]['city']) ? '' : $this->official->getAddress()[0]['city'] ?>">
            </div>
            <div class="form-group">
                <label for="state_2_field">State</label>
                <input type="text" id="state_2_field" name="state" class="form-control"
                       value="<?= empty($this->official->getAddress()[0]['state']) ? '' : $this->official->getAddress()[0]['state'] ?>">
            </div>
            <div class="form-group">
                <label for="zip_2_field">Zip</label>
                <input type="text" id="zip_2_field" name="zip" class="form-control"
                       value="<?= empty($this->official->getAddress()[0]['zip']) ? '' : $this->official->getAddress()[0]['zip'] ?>">
            </div>
            <div class="form-group">
                <label for="party_field">Party</label>
                <input type="text" name="party" class="form-control"
                       value="<?= isset($this->official) ? $this->official->getParty() : '' ?>">
            </div>
            <div class="form-group">
                <label for="phone_field">Phone</label>
                <input type="text" name="phone" class="form-control"
                       value="<?= isset ($this->official) ? implode(',', $this->official->getPhones()) : '' ?>">
            </div>
            <div class="form-group">
                <label for="email_field">Email</label>
                <input type="text" name="email" class="form-control"
                       value="<?= isset ($this->official) ? implode(',', $this->official->getEmails()) : '' ?>">
            </div>
            <div class="form-group">
                <label for="url_field">Url</label>
                <input type="text" name="url" class="form-control"
                       value="<?= isset ($this->official) ? implode(',', $this->official->getUrls()) : '' ?>">
            </div>
            <div class="form-group">
                <label for="url_photo_field">Url Photo</label>
                <input type="text" name="url_photo" class="form-control"
                       value="<?= isset ($this->official) ? $this->official->getPhotoUrl() : '' ?>">
            </div>
            <div class="form-group button-block text-right">
                <div class="col-sm-12 controls">
                    <button class="btn btn-default">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>