<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-circle-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><?= $this->userCount ?></div>
                        <div>Users</div>
                    </div>
                </div>
            </div>
            <a href="<?= $this->url('admin-dashboard', ['action' => 'users']) ?>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><?= $this->letterCount ?></div>
                        <div>New letters in queue</div>
                    </div>
                </div>
            </div>
            <a href="<?= $this->url('admin-dashboard', ['action' => 'letters']) ?>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-envelope-open-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><?= $this->letterSentCount ?></div>
                        <div>Letters sent</div>
                    </div>
                </div>
            </div>
            <a href="<?= $this->url('admin-dashboard', ['action' => 'letters']) ?>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><?= $this->transactionCount ?></div>
                        <div>Success transactions</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">

                    <?php foreach ($this->notifications as $notification) : ?>

                        <?php if (true === $notification instanceof \Application\Model\User) : ?>
                            <?php /** @var $notification \Application\Model\User */ ?>
                            <li>
                                <div class="timeline-badge"><i class="fa fa-user-o"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">User registered</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> <?= $notification->getCreated()->format('Y F d, H:i') ?></small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            User <?= $notification->getName() ?> just registered with email <b><?= $notification->getEmail() ?></b>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <?php endif;?>

                        <?php if (true === $notification instanceof \Application\Model\Letter) : ?>
                            <?php /** @var $notification \Application\Model\Letter */ ?>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="fa fa-envelope-open-o"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Letter created</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> <?= $notification->getCreated()->format('Y F d, H:i') ?></small></p>

                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            <?= $notification->getUser() ? $notification->getUser()->getName() : 'Guest' ?><?php if ($notification->getUser()) : ?>(<?= $notification->getUser()->getEmail() ?>)<?php endif; ?>
                                            created a letter from "<?= $notification->getTemplate()->getName() ?>" template,
                                            connected with "<?= $notification->getOfficial()->getName() ?>" official
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <?php endif;?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                General application options
            </div>
            <div class="panel-body">
                <form action="<?= $this->url('admin-actions', ['action' => 'save-options']) ?>" method="post">
                    <table class="table">
                        <tr>
                            <th>Option name</th>
                            <th>Option value</th>
                        </tr>
                        <?php foreach ($this->options as $index => $option) : /** @var \Application\Model\Option $option */?>
                            <tr>
                                <td><?= ucfirst(str_replace('_', ' ', $option->getName())) ?></td>
                                <td><input class="option-value form-control" name="<?= $option->getName() ?>" value="<?= $option->getValue() ?>"></td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                    <button class="btn btn-primary">Save options</button>
                </form>
            </div>
        </div>
    </div>
</div>



