<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">Letters in system</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Payment status</th>
                        <th>Letter status</th>
                        <th>User</th>
                        <th>Official</th>
                        <th>Email</th>
                        <th>Template</th>
                        <th>Actions</th>
                    </tr>
                    <?php foreach ($this->paginator as $letter) : ?>
                        <?php /** @var \Application\Model\Letter $letter  */?>
                        <tr>
                            <td> <?= $letter->getId() ?></td>
                            <td><?= $letter->getTransaction() ? $letter->getTransaction()->getStatus() : 'No transaction'?></td>
                            <td><?= $letter->getStatus() ?></td>
                            <td>
                                <?php if ($letter->getUser()) : ?>
                                    <a href="<?= $this->url('admin-users', ['action' => 'edit', 'id' => $letter->getUser()->getId()]) ?>">
                                        <?= $letter->getUser()->getName() ?>
                                    </a>
                                <?php else: ?>
                                    Guest
                                <?php endif; ?>
                            </td>
                            <td>
                                <a href="<?= $this->url('admin-dashboard', ['action' => 'edit-official', 'id' => $letter->getOfficial()->getId()]) ?>">
                                    <?= $letter->getOfficial()->getName() ?>
                                </a>
                            </td>
                            <td>
                                <?= $letter->getResponsibleEmail() ?>
                            </td>
                            <td>
                                <?php if ($letter->getTemplate()) : ?>
                                    <a
                                            href="<?= $this->url(
                                                'admin-dashboard',
                                                [
                                                    'action' => 'edit-template',
                                                    'id' => $letter->getTemplate()->getId()
                                                ]
                                            ) ?>"
                                    ><?= $letter->getTemplate()->getName() ?></a>

                                <?php else : ?>
                                    <?= 'No template' ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php foreach (array_diff(\Application\Model\Letter::getConstants('STATUS_'), [$letter->getStatus()]) as $status) : ?>
                                    <a href="<?= $this->url('admin-actions', ['action' => 'mark', 'id' => $letter->getId(), 'param' => $status]) ?>">Mark as "<?= $status ?>"</a>
                                    <br>
                                <?php endforeach; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer"><?= $this->render('layout/concern/pagination') ?></div>
        </div>
    </div>
</div>