<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">Officials information</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Party</th>
                        <th>Phone</th>
                        <th>Mail</th>
                        <th>Url</th>
                        <th>Edit</th>
                    </tr>
                    <?php foreach ($this->paginator as $official) : ?>
                        <?php /** @var \Application\Model\Official $official  */?>
                        <tr>
                            <td><?= $official->getName() ?> </td>
                            <td>
                            <?php foreach ($official->getAddress() as $address) : ?>
                                <?= implode(', ', array_filter($address))?>
                            <?php endforeach; ?>
                            </td>
                            <td><?= $official->getParty() ?> </td>
                            <td><?= implode(',', $official->getPhones()) ?></td>
                            <td><?= implode(',', $official->getEmails()) ?> </td>
                            <td><?= implode(',', $official->getUrls()) ?> </td>
                            <td> <a class="btn btn-info" href="<?= $this->url('admin-dashboard', ['action'=>'edit-official', 'id' => $official->getId()]); ?>">Edit</a>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer"><?= $this->render('layout/concern/pagination') ?></div>
        </div>
    </div>
</div>
