<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">Offices information</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Role</th>
                    </tr>
                    <?php foreach ($this->paginator as $office) : ?>
                        <?php /** @var \Application\Model\Office $office  */?>
                        <tr>
                            <td><a
                                        href="<?= $this->url(
                                            'admin-dashboard',
                                            [
                                                'action' => 'officials',
                                                'id' => $office->getId()
                                            ]
                                        )?>
                   ">
                                <?= $office->getName() ?></td> </a>
                            <td><?= implode(', ', $office->getLevels()) ?></td>
                            <td><?= implode(', ', $office->getRoles()) ?></td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer"><?= $this->render('layout/concern/pagination') ?></div>
        </div>
    </div>
</div>