<div class="row">
    <div class="page-header">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">Template list</div>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-gear"></i> Filter by status <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="<?= $this->url('admin-dashboard', ['action' => 'templates'])?>"><i class="fa fa-toggle-on"></i> Enabled</a></li>
                                <li><a href="<?= $this->url('admin-dashboard', ['action' => 'templates'], ['query' => ['enabled' => 'false']])?>"><i class="fa fa-toggle-off"></i> Disabled</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    <?php foreach ($this->paginator as $template) : ?>
                        <?php /** @var \Application\Model\Template $template  */?>
                        <tr>
                            <td><?= $template->getId() ?></td>
                            <td>
                                <a href="<?= $this->url('admin-dashboard', ['action' => 'edit-template', 'id' => $template->getId()]) ?>">
                                    <?= $template->getName() ?>
                                </a>
                            </td>
                            <td><a href="<?= $this->url('admin-actions', ['action' => 'delete-template', 'id' => $template->getId()]) ?>">Delete template</a></td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div class="panel-footer">
                <?= $this->render('layout/concern/pagination') ?>
            </div>
        </div>
    </div>
</div>