<div class="body_form">
    <form action="#">
        <?php foreach ($this->questions as $question) : /** @var \Application\Model\Question $question */?>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span><?= $question->getMessage() ?></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 right_col">
                    <div class="questions-inner">
                        <?php if ($question->isFree()) : ?>
                            <div class="question-no-free">
                                <input type="text" placeholder="Type here your answer ..." class="form-control question-free">
                            </div>
                        <?php else: ?>
                            <input type="hidden" class="question_beginning" value="<?= $question->getBeginning() ?>">
                            <?php foreach ($this->variants as $index => $variant) : /** @var \Application\Model\Variant $variant */ ?>
                                <?php if ($variant->getQuestion()->getId() === $question->getId()) : ?>
                                    <div>
                                        <input name="<?= $question->getId() ?>" id="multiple_question<?= $index ?>"
                                               type="<?= $question->isMultiple() ? 'checkbox' : 'radio' ?>"
                                               value="<?= '' === $variant->getCompiledValue() ? $variant->getValue() : $variant->getCompiledValue() ?>"
                                               class="question-no-free"
                                        />
                                        <label for="multiple_question<?= $index ?>"><?= $variant->getValue() ?></label>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        <?php endforeach; ?>
    </form>
</div>
<button class="btn btn-warning skip-questions">Skip</button>
<button class="btn btn-primary" id="ok_done_questions">OK, done</button>