<div class="row">
    <div class="col-md-7">
        <h1>FORGOT PASSWORD</h1>
        <form action="<?= $this->url('user', ['action' => 'forgot-password']) ?>" method="post" class="async">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="distr_button">
                <button>Send me recovery link to email</button>
            </div>
        </form>
    </div>
</div>