<a target="_parent" class="register" href="<?= $this->url('user', ['action' => 'login']) ?>"><span></span>MEMBER LOGIN</a>
<a target="_parent" class="register" href="<?= $this->url('user', ['action' => 'register']) ?>"><span></span>REGISTER</a>
