<a target="_parent" href="<?= $this->url('letter', ['action'=>'list']) ?>" class=""><span></span>MY LETTERS</a>
<a target="_parent" href="<?= $this->url('user', ['action'=>'settings']) ?>"><span></span><?= strtoupper($this->user->getName()) ?></a>
<a target="_parent" href="<?= $this->url('user', ['action' => 'logout']) ?>"><span></span>LOGOUT</a>