<div class="row">
    <div class="col-md-6 tagcloud">
        <h2>Top tags</h2>
        <?php if (false === empty($this->tags)) : ?>

                <?php $topCount = $this->tags[0]->getCount(); ?>

                <?php foreach ($this->tags as $index => $tag) : /** @var \Application\Model\Tag $tag */?>
                    <?php
                        $percent = floor(($tag->getCount() / $topCount) * 100);
                        if ($percent <20) {
                            $class = 'smallest';
                        } elseif ($percent>= 20 and $percent <40) {
                            $class = 'small';
                        } elseif ($percent>= 40 and $percent <60) {
                            $class = 'medium';
                        } elseif ($percent>= 60 and $percent <80) {
                            $class = 'large';
                        } else {
                            $class = 'largest';
                        }
                    ?>

                    <span class="<?= $class ?>"><a href="<?= $this->url('tag-letter', ['tag' => $tag->getId()]) ?>">
                            <?= $tag->getValue() ?>
                        </a></span>&nbsp;(<?= $tag->getCount() ?>)
                <?php endforeach; ?>
        <?php else  : ?>
            <h2 class="text-muted">No tags available</h2>
        <?php endif; ?>
    </div>
    <div class="col-md-6">
        <h2>Templates categories</h2>
        <?php foreach ($this->categories as $category) : /** @var \Application\Model\Category $category */ ?>
            <a href="<?= $this->url('category-letter', ['category' => $category->getSlug()]) ?>"><?= $category->getName() ?></a>
            <br>
        <?php endforeach; ?>
    </div>
</div>
