<?php if (false === empty($this->officials)) : ?>
    <div class="media">
    <b>This template is recommended for politicians</b>
        <?php foreach ($this->officials as $official) : /** @var \Application\Model\Official $official */ ?>
            <?= $this->render('layout/concern/official-tiny', ['official' => $official]) ?>
            <button class="btn btn-default select-legislator" data-legislator="<?= $official->getId() ?>">Select and continue</button>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<?php if (false === empty($this->officeOfficials)) : ?>
    <div class="media">
        <?php foreach ($this->officeOfficials as $officeName => $officials) : ?>
            <b>This template is recommended for politicians in the office "<?= $officeName ?>"</b>
            <?php foreach ($officials as $official) : /** @var \Application\Model\Official $official */ ?>
                <?= $this->render('layout/concern/official-tiny', ['official' => $official]) ?>
                <button class="btn btn-default select-legislator" data-legislator="<?= $official->getId() ?>">Select and continue</button>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<?php if (false === empty($this->divisionOfficials)) : ?>
    <div class="media">
        <?php foreach ($this->divisionOfficials as $divisionName => $officials) : ?>
            <b>This template is recommended for politicians in the division "<?= $divisionName ?>"</b>
            <?php foreach ($officials as $official) : /** @var \Application\Model\Official $official */ ?>
                <?= $this->render('layout/concern/official-tiny', ['official' => $official]) ?>
                <button class="btn btn-default select-legislator" data-legislator="<?= $official->getId() ?>">Select and continue</button>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<?php if (false === empty($this->officialsByAddress)) : ?>
    <div class="page-header">
        <h3>Legislators by address</h3>
    </div>
    <?php foreach ($this->officialsByAddress as $official) : /** @var \Application\Model\Official $official */ ?>
        <?php

        if (true === in_array('country', $official->getOffice()->getLevels())) {
            continue;
        }
        ?>
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <?php if (null === ($official->getPhotoUrl())) {$official->setPhotoUrl($this->basePath('img/no-photo.jpg')); } ?>
                    <img width="128px" class="media-object" src="<?= $official->getPhotoUrl() ?>" alt="<?= $official->getName() ?>">
                </a>
            </div>
            <div class="media-body">
                <?= $this->render('layout/concern/official', ['official' => $official]) ?>
            </div>
            <div class="text-right">
                <button class="btn btn-default select-legislator" data-legislator="<?= $official->getId() ?>">Select and continue</button>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
<hr>
<input type="hidden" name="template" value="<?= $this->templateId ?>">
<label for="choose-legislator">
    <?php if (false === empty($this->divisionOfficials) || false === empty($this->officeOfficials) || false === empty($this->officials)) : ?>
        Or choose
    <?php else : ?>
        Choose
    <?php endif; ?>
    any legislator for this letter</label>
<select name="legislator" id="choose-legislator" style="width: 100%;"></select>
<hr>
<div class="text-right">
    <button class="btn btn-default btn-lg" id="choose_legislator">Continue</button>
</div>