<script>
    jQuery(document).on('change', '#main_content', function() {
        dispatch('letter', 'questions')
    });

    jQuery(document).ready(function() {
        dispatch('letter', 'questions')
    });
</script>
<div class="container bordered-blue">
    <div class="summernote-air">
        <?= $this->content ?>
    </div>
    <input type="hidden" name="template" value="<?= $this->template->getId() ?>">
    <input type="hidden" name="official" value="<?= $this->official->getId() ?>">
    <?php $types = \Application\Model\Letter::getConstants('TYPE_') ?>
    <?php $defaultType = reset($types) ?>
    <div class="btn-group group-activation" role="group">
        <?php $active = true; ?>
        <?php foreach ($types as $name => $value): ?>
            <button type="button" class="btn btn-default <?php if ($active) {$active = false; echo 'active';} ?>"><?= $value ?></button>
        <?php endforeach; ?>
    </div>

    <div class="text-right">
        <a
                href="<?= $this->url('letter', ['action' => 'save']) ?>"
                class="call-action btn btn-primary"
                data-controller="letter"
                data-action="save"
        >
            Proceed
        </a>
    </div>
</div>