<?php if ($this->header) : ?>
    <?= $this->header ?>
<?php endif; ?>
<div class="row">
    <?php foreach ($this->templates as $id => $template) : /** @var \Application\Model\Template $template */?>
        <div class="col-md-3">
            <div class="letter-template" id="letter-<?= $id ?>">
                <div class="loading-message hidden" id="loader-<?= $id ?>">
                    Preparing ...
                    <div class="prepare-data loader"></div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-8">
                            <a
                                    class="prepare-data"
                                    data-loader="#loader-<?= $id ?>"
                                    data-after="checkForIdentity"
                                    href="<?= $this->url('compose-letter-template', $this->route()->getParams(['template' => $template->getId()])) ?>"
                            >
                                <?= $template->getName() ?>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="call-action" data-controller="letter" data-action="preview" data-template="<?= $template->getId() ?>">Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <?php endforeach; ?>
</div>
<?php if ($this->allTemplates) : ?>
    <div class="row">
        <h3 class="page-header">Another templates</h3>
        <?php foreach ($this->allTemplates as $id => $template) : /** @var \Application\Model\Template $template */?>
            <div class="col-md-3">
                <div class="letter-template" id="letter-<?= $id ?>">
                    <div class="loading-message hidden" id="loader-<?= $id ?>">
                        Preparing ...
                        <div class="prepare-data loader"></div>
                    </div>
                    <div class="bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <a
                                        class="prepare-data"
                                        data-loader="#loader-<?= $id ?>"
                                        data-after="checkForIdentity"
                                        href="<?= $this->url('compose-letter-template', $this->route()->getParams(['template' => $template->getId()])) ?>"
                                >
                                    <?= $template->getName() ?>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="call-action" data-controller="letter" data-action="preview" data-template="<?= $template->getId() ?>">Preview</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <?php endforeach; ?>
    </div>
<?php endif; ?>
