<?php if ($this->user && (
        $this->user->getName() === ''
        || $this->user->getSettings()->getAddressLine() === ''
        || $this->user->getSettings()->getZip() === ''
        || $this->user->getSettings()->getState() === ''
        || $this->user->getSettings()->getCity() === ''
        || $this->user->getSignature() === '')
) : ?>
<div class="alert alert-danger">
    <b>Note:</b>&nbsp;You have an empty settings in your profile. Please change it by url: <a href="<?= $this->url('user', ['action' => 'settings']) ?>"><?= $this->url('user', ['action' => 'settings'], ['force_canonical' => true]) ?></a>
</div>
<?php endif; ?>
<div class="choose_form">
    <p>Enter your address to find the selected officials who represents your district and state.</p>
    <div class="four_menu">
        <input
                type="text"
                name="street_address"
                placeholder="Street Address"
            <?php if ($this->settings) : ?>
                value="<?= $this->settings->getAddressLine() ?>"
            <?php endif; ?>
        >
        <input
                type="text"
                name="city"
                placeholder="City"
            <?php if ($this->settings) : ?>
                value="<?= $this->settings->getCity() ?>"
            <?php endif; ?>
        >
        <select name="state" id="">
            <option value="">Select State</option>
            <?php foreach ($this->states as $code => $state) : ?>
                <option
                        value="<?= $code ?>"
                    <?php if (
                        $this->settings
                        &&
                        (
                            $this->settings->getState() === $code
                            || $this->settings->getState() === $state
                        )
                    ): ?>
                        selected
                    <?php endif; ?>
                >
                    <?= $state ?>
                </option>
            <?php endforeach; ?>
        </select>
        <input
                type="text"
                name="zip"
                placeholder="ZIP Code"
            <?php if ($this->settings) : ?>
                value="<?= $this->settings->getZip() ?>"
            <?php endif; ?>
        >
    </div>
    <div class="text-center">
        <div class=" btn_continue">
            <a href="#" class="call-action" data-controller="civic" data-action="representativeInfo">CONTINUE</a>
        </div>
        <div class="small"><a class="text-muted" href="<?= $this->url('letter', ['action' => 'browse']) ?>">Browse letter templates</a></div>
    </div>
</div>
<?php if (null === $this->user) : ?>
    <br>
    <div class="row top_panel">
        <div class="col-md-offset-3 col-md-6 home_top">
            <div class="row">
                <div class="col-md-6 home-top"><a href="<?= $this->url('user', ['action' => 'login']) ?>">MEMBER LOGIN</a></div>
                <div class="col-md-6 home-top"><a href="<?= $this->url('user', ['action' => 'register']) ?>">REGISTER</a></div>
            </div>
        </div>
    </div>
<?php endif; ?>
