<table class="table table-responsive table-hover">
    <tr>
        <th>Title</th>
        <th>PDF</th>
        <th>Price</th>
        <th>Payment Status</th>
        <th>Letter Status</th>
        <th>Official</th>
        <th>Created date</th>
    </tr>
    <?php foreach ($this->letters as $letter) : /** @var \Application\Model\Letter $letter */ ?>
        <tr>
            <td><?= $letter->getTemplate()->getName() ?></td>
            <td>
                <a href="<?= $this->basePath($letter->getPdf()) ?>" target="_blank">View</a>
            </td>
            <td><b>$<?= $letter->getPrice() ?></b></td>
            <td>
                <?= $letter->getTransaction()->getStatus() ?>
                <?php if($letter->getTransaction()->getStatus() === \Application\Model\Transaction::STATUS_WAIT && $letter->getTransaction()->getApproveUrl() !== '') : ?>
                    <a href="<?= $letter->getTransaction()->getApproveUrl() ?>">Continue</a>
                <?php endif; ?>
            </td>
            <td><?= $letter->getStatus() ?></td>
            <td><?= $letter->getOfficial()->getName() ?>,
                <?= $letter->getOfficial()->getOffice()->getName() ?>,
                <?= $letter->getOfficial()->getOffice()->getDivision()->getName() ?>
            </td>
            <td><?= $letter->getCreated()->format('Y F d, H:i') ?></td>
        </tr>
    <?php endforeach; ?>
</table>