<div class="main_home">
    <img src="<?= $this->basePath('img/home.jpg') ?>" alt="" class="">
    <div>
        <p>Welcome to Resist The Puppet!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 home_content">
        <p>
            Welcome to Resist The Puppet – a brand new site designed to facilitate political action in opposition to the actions and policies of President Trump, his #RubberStampGOP Congress and the republican party that currently dominates our state legislatures and governorships. I don’t have any previous experience in politics or running a website, so please bear with me as we get off the ground.
        </p>
        <p>For our first post, I assume you might want to know what this site is and why I started it:<br>
            This site has two main functions.  The first is a blogging section, where I write about my politically-themed thoughts under the (likely faulty) assumption that maybe someone out there cares to read about them.  The second is the more important function – a letter-writing section.  This section allows you to enter your address and find out who your state and federal legislative representatives are.  It also provides you with template letters, categorized by topic, that you can review, edit to your liking and digitally sign.  You can then select which of your representatives you wish to receive the letter, and our website will populate the names and addresses of the representatives and then either mail or fax the letter on your behalf.
        </p>
        <p>I have always been interested in politics, and have wanted to discuss political issues with anyone who would listen (especially people who disagree with me). Like many liberally-minded people, I was devastated by the 2016 election. I felt I wanted to do something – something to help fight against (read: RESIST) the policies that our new government (read: THE PUPPET) would try to enact and something to help elect more liberals and Democrats in our state and federal governments going forward. I spun my wheels for several months while I contemplated several options, and ultimately decided on this.<br>
            <span>For this and other frequently asked questions, please visit our FAQ</span>
        </p>
    </div>
</div>