<br>
<UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%"><A NAME="_GoBack"></A>
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">What
                                does this site do and why did you start it?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
                                        site has two main functions.&nbsp; The first is a blogging section,
                                        where I write about my politically-themed thoughts under the
                                        (likely faulty) assumption that maybe someone out there cares to
                                        read about them.&nbsp; The second is the more important function –
                                        a letter-writing section.&nbsp; This section allows you to enter
                                        your address and find out who your state and federal legislative
                                        representatives are.&nbsp; It also provides you with template
                                        letters, categorized by topic, that you can review, edit to your
                                        liking and digitally sign.&nbsp; You can then select which of your
                                        representatives you wish to receive the letter, and our website
                                        will populate the names and addresses of the representatives and
                                        then either mail or fax the letter on your behalf.&nbsp;</FONT></FONT></FONT></FONT></FONT></P>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I
                                        have always been interested in politics, and have wanted to discuss
                                        political issues with anyone who would listen (especially people
                                        who disagree with me).  Like many liberally-minded people, I was
                                        devastated by the 2016 election.  I felt I wanted to do something –
                                        something to help fight against (read: RESIST) the policies that
                                        our new government (read: THE PUPPET) would try to enact and
                                        something to help elect more liberals and Democrats in our state
                                        and federal governments going forward.  I spun my wheels for
                                        several months while I contemplated several options, and ultimately
                                        decided on this.  </FONT></FONT></FONT></FONT></FONT>
                </P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Why
                                mailing and faxing?&nbsp; Aren’t those methods of communication
                                essentially dead?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Before
                                        I started my research for this, I would have absolutely agreed.&nbsp;
                                        I hate it any time I am forced to snail-mail or fax a letter.&nbsp;
                                        If I could do everything online, I would – it’s so much more
                                        convenient.&nbsp; But it’s precisely because email or online
                                        submissions are so much more convenient that mailed or faxed
                                        letters tend to carry more weight with government representatives
                                        than do emails.&nbsp; Because it is so easy to email, government
                                        representatives are generally bombarded with so many emails that
                                        they get algorithmically filtered and get flagged for form
                                        responses without anyone ever really reading them.&nbsp; Also,
                                        because government representatives know that emails are easy to
                                        send, emails are often given less weight than letters, since the
                                        mailing letters suggests the sender feels more passionately about
                                        the issue – enough to justify writing, printing, signing,
                                        addressing, stuffing, stamping and mailing a letter.&nbsp; So, I
                                        wanted to think of a way to take the advantages of both methods of
                                        communication.&nbsp; I believe the website makes it convenient for
                                        constituents to contact their representatives (i.e., since they can
                                        do it all online) but still gets the message to the representative
                                        in a way that shouldn’t get disregarded or lost in the shuffle
                                        (i.e., via mail or fax).</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Why
                                not phone calls?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">According
                                        to most of the research I did, phone calls are more effective than
                                        writing letters, especially when you are simply urging your
                                        representative to take a specific, discrete position (e.g., voting
                                        yes or no on a bill, voting for or against an appointment
                                        confirmation). &nbsp;For those of you who have time to make phone
                                        calls and are not shy about doing so, I absolutely encourage you to
                                        do so.  Eventually, I hope to incorporate some phone call features
                                        into this site (see below question regarding Future Plans for
                                        details), but in the interim, I recommend you head over to
                                    </FONT></FONT></FONT><A HREF="http://www.5calls.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">www.5calls.org</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        if you want to make phone calls.  Their site does a great job of
                                        facilitating phone calls to members of Congress, </FONT></FONT></FONT></FONT></FONT>
                </P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">What
                                is better – faxing or mailing?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I
                                        know this is the most annoying and least helpful answer I could
                                        give, but it depends.&nbsp; From what I understand, some
                                        representatives have systems that essentially scan in received
                                        faxes and deliver them via email – so while the letter clearly
                                        shows more effort than an email, it may still get processed along
                                        with other emails.&nbsp; However, other representatives have more
                                        traditional fax machines and process those similar to letters, with
                                        the added benefit of being instantly delivered.&nbsp; My
                                        unscientific, non-expert advice is this:&nbsp; if you have a
                                        message that you want to get across urgently, I would fax it. Or,
                                        if you have many messages that you want to send and don’t feel
                                        incredibly passionate about them, faxing might be a better option
                                        because it’s cheaper.&nbsp; However, for issues about which you
                                        feel strongly and for which there isn’t extreme urgency, I would
                                        recommend selecting the mailing option.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">How
                                can I get my letter read?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I
                                        don’t pretend to be an expert on the topic, so please take my
                                        advice with a giant grain of salt.  However, based on my research,
                                        I believe the number one thing you can do is personalize it as much
                                        as possible!  The consensus is that form letters get very little
                                        weight.  So, while I’ve included a lot of form letters on this
                                        site, which you could simply sign and send, I don’t want you to
                                        do that! I encourage you to revise it substantially.  So, please
                                        revise the letters to your heart’s content and add as many
                                        details as you have time for – particularly about how the issue
                                        matters to you on a personal level.</FONT></FONT></FONT></FONT></FONT></P>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
                                        other piece of advice I have based on research I’ve gathered is
                                        that when mailing a letter, you should mail it to a district office
                                        address rather than the Washington, D.C. office.  That’s why most
                                        (if not all) letters on this site default to a district address.
                                        There are a couple of key reasons why we believe district offices
                                        are better for letters.  First, the Washington, D.C. office mail
                                        system is very slow, in large part because mail there gets searched
                                        for anthrax and other threats, so a letter likely won’t arrive
                                        for several weeks after you send it.  Most district offices,
                                        however, process mail as ordinary offices would.  Second, the
                                        district offices generally (though not always) have more staff
                                        dedicated to responding to constituent concerns as compared to the
                                        Washington, D.C. offices.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">What
                                if I find a typo or other error in one of your letter templates?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Please
                                        fix it in the letter you are working on before you send it, and
                                        then </FONT></FONT></FONT><A HREF="mailto:ResistThePuppet@Gmail.com"><FONT COLOR="#222222">send
                                    me a message</FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Can
                                I write a letter that can be added to the site?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Absolutely!
                                        I’d recommend you first create the letter yourself using the
                                        create-your-own letter template.  Then, please </FONT></FONT></FONT><A HREF="mailto:ResistThePuppet@Gmail.com"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">email
                                        me your letter</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        (ideally in Microsoft Word or other similar format).  I can’t
                                        promise I’ll include it, but I can promise I’ll read and
                                        strongly consider it.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">How
                                is this site different from others? </FONT></FONT></FONT></FONT></FONT>
        </P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
                                        may rightly think that there are a few similar sites out there, and
                                        wonder how my site is different.  In my view, the 3 sites that
                                        collectively are closest to achieving what I want to achieve are:
                                    </FONT></FONT></FONT><A HREF="http://www.5calls.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">5calls</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">,
                                    </FONT></FONT></FONT><A HREF="http://www.writetocongress.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">WriteToCongress</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        and </FONT></FONT></FONT><A HREF="http://www.resistbot.io"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">ResistBot</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
                                        I have tremendous respect and adoration for each of these sites,
                                        and I recommend you visit each of them.  That said, I do believe
                                        that Resist The Puppet offers some key features not present in
                                        these (or other) sites.</FONT></FONT></FONT></FONT></FONT></P>
                <UL>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">As
                                                I noted above, </FONT></FONT></FONT><A HREF="http://www.5calls.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">5calls</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                                focuses exclusively on phone calls, which is great for those who
                                                have time and are willing to call their representatives.  However,
                                                many of you don’t have the time or inclination to do so and are
                                                more comfortable sending letters.</FONT></FONT></FONT></FONT></FONT></P>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><A HREF="http://www.writetocongress.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">WriteToCongress</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                                might be the closest to what Resist The Puppet offers with respect
                                                to letter writing.  For those of you who do not have an issue
                                                printing, signing, mailing and stamping your own letters, I highly
                                                encourage you to use their site.  They, like Resist The Puppet,
                                                have many good letter templates, covering several topics that we
                                                do cover here.  However, I believe that many people would rather
                                                not take the time to print, sign, stamp and mail their own
                                                letters, and so I believe we can help encourage activism from that
                                                population.</FONT></FONT></FONT></FONT></FONT></P>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><A HREF="http://www.resistbot.io"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">ResistBot</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                                is also a fantastic site.  It does a great job of allowing you to
                                                contact your Senators (and in the future, probably your House
                                                Representative as well), as they convert your concerns sent to
                                                them via text into a fax.  I think that is a wonderful idea and
                                                will certainly help a lot of people get engaged.  I highly
                                                encourage you to visit that site as well.  However, I believe some
                                                people would rather start with template letters than create a
                                                message from scratch, and even those who would prefer to create a
                                                message from scratch would likely want to do so</FONT></FONT></FONT></FONT></FONT></P>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Lastly,
                                                each of the above 3 sites focus on contacting your members of
                                                Congress in DC, but largely ignore the state legislatures.  Resist
                                                The Puppet helps you contact your state legislatures as well, with
                                                many of our templates applicable to state legislatures (and some
                                                of which being exclusively designed for state legislatures). State
                                                legislatures are, in many ways, more important than Congress –
                                                they are the ones passing laws that often affect your day-to-day
                                                lives.  Additionally, they generally receive a fraction of the
                                                letters that members of Congress receive, so any letters you send
                                                them may be more impactful and may stand out more than letters you
                                                send to your members of Congress.</FONT></FONT></FONT></FONT></FONT></P>
                </UL>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">What
                                if I am a conservative / Republican / Donald Trump supporter?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I’ll
                                        use small words so you will un-der-stand.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">No,
                                really - what if I am a conservative / Republican / Donald Trump
                                supporter?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Welcome!
                                        I am glad that you are here.  As I mentioned above when explaining
                                        why I started this site, I have always enjoyed political
                                        discussions, moreso with people with whom I disagree (i.e., people
                                        like you).  So, please do use this site – please comment on the
                                        blog posts and email me any feedback you have on letters.  I will
                                        likely not upload letter templates reflecting your positions on
                                        issues, but maybe I’m wrong – maybe there are issues on which
                                        we agree. Regardless, although you will likely disagree with
                                        most/all of the content and letter templates, you are still more
                                        than welcome to use the create-your-own letter template to write
                                        and send a message to your representatives.  I will not
                                        screen/censor letters based on political views!</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Why
                                are you calling the site “Resist The Puppet” if all of the
                                action is focused on federal and state legislatures?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Donald
                                        Trump and his awful statements, actions and policies are the
                                        inspiration for the site.  However, I do not believe that
                                        contacting his office will accomplish anything.  I think he knows
                                        he is unpopular and simply does not care.  If there is going to be
                                        positive change in this country (or, at least, resistance to the
                                        horrifically negative changes he is seeking), it is likely going to
                                        be via appealing to our legislative representatives of both parties
                                        at the state and federal level.  As you look through the letter
                                        templates, you will see that many of them reference Trump’s
                                        actions and policies and ask for help in fighting them.  </FONT></FONT></FONT></FONT></FONT>
                </P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">What’s
                                are your future plans for Resist The Puppet?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I
                                        have two main additional ideas that I’d like to incorporate in
                                        the short-medium term future, but I welcome any suggestions you may
                                        have for others:</FONT></FONT></FONT></FONT></FONT></P>
                <UL>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Add
                                                much more content directed to action at the state legislatures.
                                                After the initial site has launched and we’ve worked out any big
                                                bugs or unexpected issues with the process, I plan to focus on
                                                determining the most efficient ways to keep track of what is going
                                                on at the state legislatures across the country and then focus on
                                                letter writing or other action to influence state bills.  Issues
                                                like reproductive rights, voter ID laws, LGBTQ rights, access to
                                                quality education and so many others are more often fought at the
                                                state level rather than the federal level.</FONT></FONT></FONT></FONT></FONT></P>
                    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Add
                                                a section for facilitating phone calls.  I would like to add
                                                functionality to facilitate phone calls to our legislative
                                                representatives as well.  Fortunately, it seems like the good
                                                people at </FONT></FONT></FONT><A HREF="http://www.5calls.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">5calls</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                                made their code open source, so we may leverage that code to get
                                                started.  As far as the content, again, I would like to focus on
                                                the state legislatures rather than federal</FONT></FONT></FONT></FONT></FONT></P>
                </UL>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Why
                                are you charging me for this? Are you some greedy capitalist? I
                                thought you were liberal!</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Very
                                        good question.&nbsp; If there were a way I could do this for free,
                                        I certainly would.&nbsp; Maybe if lots of people donate to the
                                        site, one day I will be able to.&nbsp; However, for each letter
                                        generated on the site, either I pay a vendor to print the letter,
                                        stuff it into an envelope, hand address the envelope, purchase and
                                        apply a stamp and mail it or I pay a vendor to fax the letter.&nbsp;
                                        I am aiming to pass those costs on to you.&nbsp; To the extent
                                        there is a small surplus (because it’s tough to estimate the
                                        pricing I’ll have to pay in the early going, since different
                                        vendors charge me different amounts based on volume), I would use
                                        that to pay for running the site.&nbsp; It is not my intent to
                                        generate even $1 of profit from this site, and indeed, I expect to
                                        operate at a loss.&nbsp; According to my current business model, it
                                        would probably take processing close to 50,000 letters flawlessly
                                        before I’d even recoup the costs of setting up the website (to
                                        say nothing of costs for hosting and maintaining the site and
                                        adding features, let alone my time).&nbsp; If that ever changes, I
                                        will update this answer.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
            <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Were
                                there other sites and resources out there that influenced your
                                thinking in creating this site?</FONT></FONT></FONT></FONT></FONT></P>
        <UL>
            <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">As
                                        noted above, I have great respect for the features and ideas behind
                                    </FONT></FONT></FONT><A HREF="http://www.5calls.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">5calls</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">,
                                    </FONT></FONT></FONT><A HREF="http://www.writetocongress.org"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">WriteToCongress</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        and </FONT></FONT></FONT><A HREF="http://www.resistbot.io"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">ResistBot</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
                                        In addition to those, there were two other resources on which I
                                        relied for background and research:  The first is the ever-popular
                                        and well known </FONT></FONT></FONT><A HREF="https://www.indivisibleguide.com/"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Indivisible
                                        Guide</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
                                        I can’t imagine there is anyone out there who has found my site
                                        and read all the way to the bottom of my FAQ who is not already
                                        familiar with Indivisible, if there is, please visit and
                                        internalize that site right now!  It’s been the leading group
                                        behind organizing liberal efforts in opposition to the Trump
                                        administration and Republican policies.  The second is the advice
                                        of Emily Ellsworth, who wrote a </FONT></FONT></FONT><A HREF="https://twitter.com/editoremilye/status/797243415922515970"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">series
                                        of tweets</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        shortly after the election (and followed it up with a </FONT></FONT></FONT><A HREF="https://gumroad.com/l/callthehallsguide"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">short
                                        paper</FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Arial, serif"><FONT SIZE=2 STYLE="font-size: 9pt">
                                        available for purchase) advising constituents on how best to
                                        contact their members of Congress.  All of these resources have
                                        been invaluable, and I thank them for all of the information
                                        provided.</FONT></FONT></FONT></FONT></FONT></P>
        </UL>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 100%">
    <FONT COLOR="#222222">&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>